designs/pages/dashboard.json
[
    {
        "id": "sd_CG2idGFyedSvI3n5",
        "type": "tab",
        "createdDate": "2022-09-29T06:20:36.193Z",
        "label": "dashboard",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_DEpURkbQd1yC7evr",
        "type": "OnInit",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "functionName": "sd_DEpURkbQd1yC7evr",
        "category": "Lifecycle Events",
        "x": 145,
        "y": 100,
        "wires": [
            [
                "sd_NHOLdr2QCcwKZOXC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_jpxsohmPQY8GE1QJ",
        "type": "PageCallService",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "receivedTableData",
                "mapVarName": "result",
                "localVar": "this.page.receivedTableData"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_jpxsohmPQY8GE1QJ",
        "category": "General",
        "x": 825,
        "y": 100,
        "wires": [
            [
                "sd_QXrXEUJKwp9n6Tng"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_q6OoeIYWQhQzzGjh",
        "type": "Script",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.method = \"get\";\nbh.endPoint = \"travelRequests/getTravelRequests?owner=\" + page.currentUserDetails.email;\npage.select =[{viewvalue:\"My requests\"},{viewvalue:\"Traveler requests\"}]",
        "functionName": "sd_q6OoeIYWQhQzzGjh",
        "category": "Function",
        "x": 705,
        "y": 100,
        "wires": [
            [
                "sd_jpxsohmPQY8GE1QJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_mrXvkf0duurSdFDY",
        "type": "PageStart",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goTo",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goTo",
        "category": "General",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "sd_aLNXjBcLPztCW64j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_aLNXjBcLPztCW64j",
        "type": "Navigation",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/new-request",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_aLNXjBcLPztCW64j",
        "category": "Navigation",
        "x": 300,
        "y": 580,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wBen0TdptHyjdKXK",
        "type": "Storage",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "currentUserDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "currentUserDetails"
        },
        "functionName": "sd_wBen0TdptHyjdKXK",
        "category": "Storage",
        "x": 605,
        "y": 100,
        "wires": [
            [
                "sd_q6OoeIYWQhQzzGjh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NHOLdr2QCcwKZOXC",
        "type": "UseDependency",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "TableDataSource",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatTableDataSource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "tableDataSource"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/table",
        "serviceDesignerType": "pages",
        "functionName": "tableDataSource",
        "category": "Function",
        "x": 245,
        "y": 100,
        "wires": [
            [
                "sd_6qNWcMnFIBJGKL63"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_6qNWcMnFIBJGKL63",
        "type": "UseDependency",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Paginator",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatPaginator",
                "typedIpValue": {
                    "type": "this.page",
                    "value": " paginator"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/paginator",
        "serviceDesignerType": "pages",
        "functionName": "paginator",
        "category": "Function",
        "x": 345,
        "y": 100,
        "wires": [
            [
                "sd_ZPDW1S2ZFYD7wn8h"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ZPDW1S2ZFYD7wn8h",
        "type": "UseDependency",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Sort",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatSort",
                "typedIpValue": {
                    "type": "this.page",
                    "value": " sort"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/sort",
        "serviceDesignerType": "pages",
        "functionName": "sort",
        "category": "Function",
        "x": 425,
        "y": 100,
        "wires": [
            [
                "sd_ptIeaoCYsPK9hjAj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ptIeaoCYsPK9hjAj",
        "type": "PageVariables",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "currentUserDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            },
            {
                "textIp": "dashboardCards",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "tableHeaders",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "tableCells",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "receivedTableData",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "email",
                "typedIpValue": {
                    "type": "str",
                    "value": ""
                }
            },
            {
                "textIp": "select",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "counts",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            }
        ],
        "functionName": "sd_E9QbOlnVduPNV5MO_1",
        "category": "Function",
        "x": 525,
        "y": 100,
        "wires": [
            [
                "sd_wBen0TdptHyjdKXK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_AAtb2ycYY078mW7G",
        "type": "PageStart",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "open view request",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "selectedRowID",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "openViewRequest",
        "category": "General",
        "x": 145,
        "y": 420,
        "wires": [
            [
                "sd_mt8Cw5ZGD0NQSUMB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_ESipJh6js5V3RPHV",
        "type": "OpenDialog",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_TO8KXUn3nydbh4fD",
            "label": "travelRequestDialog"
        },
        "relativePath": "./travelRequestDialog",
        "data": "bh.data",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": true,
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "\"85vh\"",
        "minHeight": "\"85vh\"",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "\"85vw\"",
        "panelClass": "this.page.scroll",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "bh.x",
        "functionName": "sd_ESipJh6js5V3RPHV",
        "category": "Dialog",
        "x": 425,
        "y": 420,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh",
                "value": "data",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "bool",
                "value": "true",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "str",
                "value": "85vh",
                "constant": false
            },
            "minHeight": {
                "type": "str",
                "value": "85vh",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "str",
                "value": "85vw",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "scroll",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "x",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_mt8Cw5ZGD0NQSUMB",
        "type": "Script",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.data = page.receivedTableData['data'].find(obj => bh.input.selectedRowID == obj._id);\n\n",
        "functionName": "sd_mt8Cw5ZGD0NQSUMB",
        "category": "Function",
        "x": 325,
        "y": 420,
        "wires": [
            [
                "sd_ESipJh6js5V3RPHV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_C6J9HQwkO5SQorTg",
        "type": "PageStart",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "travel requests",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "travelRequests",
        "category": "General",
        "x": 225,
        "y": 260,
        "wires": [
            [
                "sd_RIhDba0Qns6BqrvX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_KduSl3fVkcg9AJRL",
        "type": "PageSwitch",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "event.value",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.event.value",
        "rules": [
            {
                "t": "eq",
                "v": "My requests",
                "vt": "str",
                "gv": "\"My requests\""
            },
            {
                "t": "eq",
                "v": "Traveler requests",
                "vt": "str",
                "gv": "\"Traveler requests\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_KduSl3fVkcg9AJRL",
        "category": "Function",
        "x": 425,
        "y": 260,
        "wires": [
            [
                "sd_Ghb9J59qOpblGVmc"
            ],
            [
                "sd_RV9cSmeHI4E5mrTS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_g4XccWFtvoNrVVtf",
        "type": "PageStart",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "closeProfile",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "closeProfile",
        "category": "General",
        "x": 125,
        "y": 500,
        "wires": [
            [
                "sd_YQGYIR1ExZCECWq7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_YQGYIR1ExZCECWq7",
        "type": "CloseDialog",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.profileDialog",
        "functionName": "sd_YQGYIR1ExZCECWq7",
        "category": "Dialog",
        "x": 215.171875,
        "y": 500.03125,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "profileDialog",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RV9cSmeHI4E5mrTS",
        "type": "Script",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.method = \"get\";\n// if (page.currentUserDetails.designation.includes('Travel')) {\n//     bh.endPoint = \"travelRequests/getTravelRequests\";\n// } else {\n    bh.endPoint = \"travelRequests/getTravelRequests?personalDetails.lineManagerEmail=\" + page.currentUserDetails.lineManagerEmail;",
        "functionName": "sd_RV9cSmeHI4E5mrTS",
        "category": "Function",
        "x": 525,
        "y": 340,
        "wires": [
            [
                "sd_rXcCYxeJumReEaBA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Ghb9J59qOpblGVmc",
        "type": "Script",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.method = \"get\";\nbh.endPoint = \"travelRequests/getTravelRequests?owner=\" + page.currentUserDetails.email;\n\n\n",
        "functionName": "sd_Ghb9J59qOpblGVmc",
        "category": "Function",
        "x": 525,
        "y": 240,
        "wires": [
            [
                "sd_Y31N74EOwPJSwSSi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Y31N74EOwPJSwSSi",
        "type": "PageCallService",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "receivedTableData",
                "mapVarName": "result",
                "localVar": "this.page.receivedTableData"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_Y31N74EOwPJSwSSi",
        "category": "General",
        "x": 643,
        "y": 245,
        "wires": [
            [
                "sd_QXrXEUJKwp9n6Tng"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_rXcCYxeJumReEaBA",
        "type": "PageCallService",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "receivedTableData",
                "mapVarName": "result",
                "localVar": "this.page.receivedTableData"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_rXcCYxeJumReEaBA",
        "category": "General",
        "x": 670,
        "y": 317.8125,
        "wires": [
            [
                "sd_QXrXEUJKwp9n6Tng"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_QXrXEUJKwp9n6Tng",
        "type": "Script",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "log table1",
        "script": "console.log(page.receivedTableData)",
        "functionName": "logTable1",
        "category": "Function",
        "x": 790,
        "y": 244.8125,
        "wires": [
            [
                "sd_QnDkX4zxXtB1Nvoq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_QnDkX4zxXtB1Nvoq",
        "type": "ViewPicker",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "table1",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatSort"
                },
                "defaultValue": "",
                "isViewChildren": false
            },
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "table1",
        "category": "Function",
        "x": 890,
        "y": 244.8125,
        "wires": [
            [
                "sd_OGlFkv3n4vjKymyo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_OGlFkv3n4vjKymyo",
        "type": "Script",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "setTableTokens1",
        "script": "let tableData = [];\nlet userGroups = ['Executive', 'Manager', 'HR', 'Finance'];\nlet tableSetup = {\n    \"traveler\": {\n        \"tableHeaders\": ['Owner', 'Date Created', 'Trip Type', 'Travel Mode', 'From City', 'To City', 'Status', 'Action'],\n        \"tableCells\": ['owner', 'dateCreated', `tripType`, 'travelMode', 'fromCity', 'toCity', 'status', 'action']\n    }\n};\nbh.role = (!userGroups.includes(page.currentUserDetails.designation)) ? 'traveler' : 'other',\n    page.tableHeaders = tableSetup[bh.role]['tableHeaders'];\npage.tableCells = tableSetup[bh.role]['tableCells'];\npage.receivedTableData['data'].forEach(el => {\n    let temp = {};\n    temp['_id'] = el['_id'];\n    temp['owner'] = el['owner'];\n    temp['status'] = el['status'];\n    temp['dateCreated'] = el['dateCreated'];\n    temp['tripType'] = el['requestDetails'][0]['travelDetails']['tripType'];\n    temp['travelMode'] = el['requestDetails'][0]['travelDetails']['travelMode'];\n    temp['fromCity'] = el['requestDetails'][0]['travelDetails']['fromCity'];\n    temp['toCity'] = el['requestDetails'][0]['travelDetails']['toCity'];\n    tableData.push(temp);\n})\nconsole.log(tableData)\npage.tableData = new page.tableDataSource(tableData);\npage.tableData.paginator = bh.pageViews.MatPaginator;\npage.tableData.sort = bh.pageViews.MatSort;\n\n// let tableData = [];\n// let userGroups = ['Executive', 'Manager', 'HR', 'Finance'];\n// let tableSetup = {\n//     \"traveler\": {\n//         \"tableHeaders\": ['Date Created', 'Trip Type', 'Travel Mode', 'From City', 'To City', 'Status', 'Action'],\n//         \"tableCells\": ['dateCreated', `tripType`, 'travelMode', 'fromCity', 'toCity', 'action']\n//     }\n// };\n// bh.role = (!userGroups.includes(page.currentUserDetails.designation)) ? 'traveler' : 'other',\n//     page.tableHeaders = tableSetup[bh.role]['tableHeaders'];\n// page.tableCells = tableSetup[bh.role]['tableCells'];\n// page.receivedTableData['data'].forEach(el => {\n//     let temp = {};\n//     temp['_id'] = el['_id'];\n//     temp['dateCreated'] = el['dateCreated'];\n//     temp['tripType'] = el['requestDetails'][0]['travelDetails']['tripType'];\n//     temp['travelMode'] = el['requestDetails'][0]['travelDetails']['travelMode'];\n//     temp['fromCity'] = el['requestDetails'][0]['travelDetails']['fromCity'];\n//     temp['toCity'] = el['requestDetails'][0]['travelDetails']['toCity'];\n//     tableData.push(temp);\n// })\n\n// page.tableData = new page.tableDataSource(tableData);\n// page.tableData.paginator = bh.pageViews.MatPaginator;\n// page.tableData.sort = bh.pageViews.MatSort;",
        "functionName": "setTableTokens1",
        "category": "Function",
        "x": 970,
        "y": 244.8125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RIhDba0Qns6BqrvX",
        "type": "Storage",
        "z": "sd_CG2idGFyedSvI3n5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "currentUserDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "currentUserDetails"
        },
        "functionName": "sd_RIhDba0Qns6BqrvX",
        "category": "Storage",
        "x": 305,
        "y": 260,
        "wires": [
            [
                "sd_KduSl3fVkcg9AJRL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
