designs/pages/drafts.json
[
    {
        "id": "sd_gWuHjY66VqGmkjjZ",
        "type": "tab",
        "createdDate": "2022-09-18T16:50:14.717Z",
        "label": "drafts",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_etiO2DK0VwgEhJPd",
        "type": "OnInit",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_etiO2DK0VwgEhJPd",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_5o2VJeahdoBsFCwo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_jnCisauNCqVEhmqR",
        "type": "PageCallService",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_gWuHjY66VqGmkjjZ",
            "type": "tab",
            "createdDate": "2022-09-18T16:50:14.717Z",
            "label": "drafts",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_Sm6rj5aD8BjreRHu",
            "flowName": "getTravelRequests"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./drafts",
        "startName": "getTravelRequests",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_jnCisauNCqVEhmqR",
        "category": "General",
        "x": 545,
        "y": 40,
        "wires": [
            [
                "sd_nOwahpMteYVDindU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_ReZBx8bKxceaKrVx",
        "type": "Script",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.method = \"get\";\nbh.endPoint = \"travelRequests/getTravelRequest?type=draft\";",
        "functionName": "sd_ReZBx8bKxceaKrVx",
        "category": "Function",
        "x": 465,
        "y": 40,
        "wires": [
            [
                "sd_jnCisauNCqVEhmqR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_nOwahpMteYVDindU",
        "type": "Script",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.dashboardCards =[\n//     {amount: 15, topText: 'Total', icon : 'description', cssClass: 'blueBg'},\n//     {amount: 6, topText: 'Pending', icon : 'hourglass_full', cssClass: 'orangeBg'},\n//     {amount: 5, topText: 'Approved', icon : 'thumb_up', cssClass: 'greenBg'},\n//     {amount: 4, topText: 'Rejected', icon : 'thumb_down', cssClass: 'redBg'},\n// ];",
        "functionName": "sd_nOwahpMteYVDindU",
        "category": "Function",
        "x": 625,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_5o2VJeahdoBsFCwo",
        "type": "UseDependency",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "TableDataSource",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatTableDataSource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "tableDataSource"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/table",
        "serviceDesignerType": "pages",
        "functionName": "tableDataSource",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_Q1HNIsgXEaJUqDSs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Q1HNIsgXEaJUqDSs",
        "type": "UseDependency",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Paginator",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatPaginator",
                "typedIpValue": {
                    "type": "this.page",
                    "value": " paginator"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/paginator",
        "serviceDesignerType": "pages",
        "functionName": "paginator",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_c5S4XlObAEw7dGTC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_c5S4XlObAEw7dGTC",
        "type": "UseDependency",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Sort",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatSort",
                "typedIpValue": {
                    "type": "this.page",
                    "value": " sort"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/sort",
        "serviceDesignerType": "pages",
        "functionName": "sort",
        "category": "Function",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_8aUHLOn15SjCTNLX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8aUHLOn15SjCTNLX",
        "type": "PageVariables",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "currentUserDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            },
            {
                "textIp": "dashboardCards",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "tableHeaders",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "tableCells",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "receivedTableData",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "drafts",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_E9QbOlnVduPNV5MO_1",
        "category": "Function",
        "x": 385,
        "y": 40,
        "wires": [
            [
                "sd_ReZBx8bKxceaKrVx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Sm6rj5aD8BjreRHu",
        "type": "PageStart",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "get travel requests",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getTravelRequests",
        "category": "General",
        "x": 105,
        "y": 300,
        "wires": [
            [
                "sd_IrMyJxWmTpDNzUyI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_2GFLx5BdaAS4aODV",
        "type": "Script",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.method = \"get\";\nbh.endPoint = \"getTravelRequestDrafts\";",
        "functionName": "sd_2GFLx5BdaAS4aODV",
        "category": "Function",
        "x": 265,
        "y": 300,
        "wires": [
            [
                "sd_jITV2Ea0aWpdhosP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jITV2Ea0aWpdhosP",
        "type": "PageCallService",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_hkAMxxfqyGUP7RIf",
            "type": "tab",
            "createdDate": "2022-06-28T19:32:02.953Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_alQ4JDGbxbp70Zlt",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "receivedTableData",
                "mapVarName": "result",
                "localVar": "this.page.receivedTableData"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_jITV2Ea0aWpdhosP",
        "category": "General",
        "x": 365,
        "y": 300,
        "wires": [
            [
                "sd_GWkuvoE9qpRatVlC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_GWkuvoE9qpRatVlC",
        "type": "Script",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "log table",
        "script": "console.log(\"this table\",page.receivedTableData)",
        "functionName": "logTable",
        "category": "Function",
        "x": 465,
        "y": 300,
        "wires": [
            [
                "sd_omruyJd1Ph7noHvw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_omruyJd1Ph7noHvw",
        "type": "ViewPicker",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "table",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatSort"
                },
                "defaultValue": "",
                "isViewChildren": false
            },
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "table",
        "category": "Function",
        "x": 565,
        "y": 300,
        "wires": [
            [
                "sd_s60c9qBRLfh76DEF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_IrMyJxWmTpDNzUyI",
        "type": "Storage",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "currentUserDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "currentUserDetails"
        },
        "functionName": "sd_IrMyJxWmTpDNzUyI",
        "category": "Storage",
        "x": 185,
        "y": 300,
        "wires": [
            [
                "sd_2GFLx5BdaAS4aODV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_s60c9qBRLfh76DEF",
        "type": "Script",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "setTableTokens",
        "script": "let tableData = [];\nlet userGroups = ['Executive', 'Manager', 'HR', 'Finance'];\nlet tableSetup = {\n    \"traveler\": {\n        \"tableHeaders\": ['Date Created', 'Trip Type', 'Travel Mode', 'From City', 'To City', 'Status', 'Action'],\n        \"tableCells\": ['dateCreated', `tripType`, 'travelMode', 'fromCity', 'toCity', 'action']\n    }\n};\nbh.role = (!userGroups.includes(page.currentUserDetails.designation)) ? 'traveler' : 'other',\n    page.tableHeaders = tableSetup[bh.role]['tableHeaders'];\npage.tableCells = tableSetup[bh.role]['tableCells'];\npage.receivedTableData['data'].forEach(el => {\n    let temp = {};\n    temp['_id'] = el['_id'];\n    temp['dateCreated'] = el['dateCreated'];\n    temp['tripType'] = el['requestDetails'][0]['travelDetails']['tripType'];\n    temp['travelMode'] = el['requestDetails'][0]['travelDetails']['travelMode'];\n    temp['fromCity'] = el['requestDetails'][0]['travelDetails']['fromCity'];\n    temp['toCity'] = el['requestDetails'][0]['travelDetails']['toCity'];\n    tableData.push(temp);\n})\n\npage.tableData = new page.tableDataSource(tableData);\npage.tableData.paginator = bh.pageViews.MatPaginator;\npage.tableData.sort = bh.pageViews.MatSort;",
        "functionName": "setTableTokens",
        "category": "Function",
        "x": 685,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_vp5oGI1508VqSOh0",
        "type": "PageStart",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "open view request",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "selectedRowID",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "openViewRequest",
        "category": "General",
        "x": 147,
        "y": 151.8125,
        "wires": [
            [
                "sd_rWOKoogr1AdKrW32"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_yCFzIt4RQMz1idDv",
        "type": "OpenDialog",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_osEacZsdUBcy4IJg",
            "label": "new_travel_request"
        },
        "relativePath": "./new_travel_request",
        "data": "bh.data",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": true,
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "\"85vh\"",
        "minHeight": "\"85vh\"",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "\"85vw\"",
        "panelClass": "this.page.scroll",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "bh.x",
        "functionName": "sd_yCFzIt4RQMz1idDv",
        "category": "Dialog",
        "x": 427,
        "y": 151.8125,
        "wires": [
            [],
            [
                "sd_zbJL4USWY4e4tyD2"
            ],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh",
                "value": "data",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "bool",
                "value": "true",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "str",
                "value": "85vh",
                "constant": false
            },
            "minHeight": {
                "type": "str",
                "value": "85vh",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "str",
                "value": "85vw",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "scroll",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "x",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_rWOKoogr1AdKrW32",
        "type": "Script",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.data = page.receivedTableData['data']?.find(obj => bh.input.selectedRowID == obj._id);\n\n",
        "functionName": "sd_rWOKoogr1AdKrW32",
        "category": "Function",
        "x": 327,
        "y": 151.8125,
        "wires": [
            [
                "sd_yCFzIt4RQMz1idDv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zbJL4USWY4e4tyD2",
        "type": "GetDialogData",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "dialogDataMapping": "bh.x",
        "functionName": "sd_zbJL4USWY4e4tyD2",
        "category": "Dialog",
        "x": 547,
        "y": 151.8125,
        "wires": [
            [
                "sd_0xjxjf5khlZA21r7"
            ]
        ],
        "__ssdTypeInputs__": {
            "dialogDataMapping": {
                "type": "bh",
                "value": "x",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_0xjxjf5khlZA21r7",
        "type": "Script",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "",
        "functionName": "sd_0xjxjf5khlZA21r7",
        "category": "Function",
        "x": 647,
        "y": 151.8125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_boXVYC1ZRfRLqU1m",
        "type": "PageStart",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "closeProfile",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "closeProfile",
        "category": "General",
        "x": 85,
        "y": 400,
        "wires": [
            [
                "sd_WL5ix7y38h5CoFFc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_WL5ix7y38h5CoFFc",
        "type": "CloseDialog",
        "z": "sd_gWuHjY66VqGmkjjZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.profileDialog",
        "functionName": "sd_WL5ix7y38h5CoFFc",
        "category": "Dialog",
        "x": 175.171875,
        "y": 400.03125,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "profileDialog",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
