designs/pages/drafts.json
[
    {
        "id": "sd_XVCZI1NQxgXsjXfL",
        "type": "tab",
        "createdDate": "2022-09-29T06:57:12.048Z",
        "label": "drafts",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_xZOvn2Peup4WIOTE",
        "type": "OnInit",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_xZOvn2Peup4WIOTE",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_lCLzfsJy4i9pbPTQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_RcU9bg72YARcs8YT",
        "type": "PageVariables",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_RcU9bg72YARcs8YT",
        "category": "Function",
        "x": 225,
        "y": 60,
        "wires": [
            [
                "sd_nsfxbQj9P8JAadMe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_5mJKpAKXc0bTZZyy",
        "type": "PageCallService",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_XVCZI1NQxgXsjXfL",
            "type": "tab",
            "createdDate": "2022-09-29T06:57:12.048Z",
            "label": "drafts",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_m4f1RBLWW5ALYhB3",
            "flowName": "getTravelRequests"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./drafts",
        "startName": "getTravelRequests",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_5mJKpAKXc0bTZZyy",
        "category": "General",
        "x": 745,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_rWCzaLhYT4L3DcxM",
        "type": "Script",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.method = \"get\";\n// bh.endPoint = \"getTravelRequestDrafts\"\nbh.endPoint = \"travelRequests/getTravelRequest?owner=\"+ page.currentUserDetails.owner;",
        "functionName": "sd_rWCzaLhYT4L3DcxM",
        "category": "Function",
        "x": 665,
        "y": 60,
        "wires": [
            [
                "sd_5mJKpAKXc0bTZZyy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_nsfxbQj9P8JAadMe",
        "type": "UseDependency",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "TableDataSource",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatTableDataSource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "tableDataSource"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/table",
        "serviceDesignerType": "pages",
        "functionName": "tableDataSource",
        "category": "Function",
        "x": 325,
        "y": 60,
        "wires": [
            [
                "sd_nJ3waNTcFhxFX4gw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_nJ3waNTcFhxFX4gw",
        "type": "UseDependency",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Paginator",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatPaginator",
                "typedIpValue": {
                    "type": "this.page",
                    "value": " paginator"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/paginator",
        "serviceDesignerType": "pages",
        "functionName": "paginator",
        "category": "Function",
        "x": 405,
        "y": 60,
        "wires": [
            [
                "sd_caKNT1w9JqSiUu4C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_caKNT1w9JqSiUu4C",
        "type": "UseDependency",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Sort",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatSort",
                "typedIpValue": {
                    "type": "this.page",
                    "value": " sort"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/sort",
        "serviceDesignerType": "pages",
        "functionName": "sort",
        "category": "Function",
        "x": 485,
        "y": 60,
        "wires": [
            [
                "sd_QHpEifgaJv4aMK0z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_QHpEifgaJv4aMK0z",
        "type": "PageVariables",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "currentUserDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            },
            {
                "textIp": "dashboardCards",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "tableHeaders",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "tableCells",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "receivedTableData",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "drafts",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_E9QbOlnVduPNV5MO_1",
        "category": "Function",
        "x": 565,
        "y": 60,
        "wires": [
            [
                "sd_rWCzaLhYT4L3DcxM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_m4f1RBLWW5ALYhB3",
        "type": "PageStart",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "get travel requests",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getTravelRequests",
        "category": "General",
        "x": 125,
        "y": 320,
        "wires": [
            [
                "sd_wJBnESgJGGNuKJn4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_lbtlLEQlxqy4C52Q",
        "type": "Script",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.currentUserDetails,\"deatisl\")\n\nbh.method = \"get\";\nbh.endPoint = \"getTravelRequestDrafts?owner=\" + page.currentUserDetails.email;",
        "functionName": "sd_lbtlLEQlxqy4C52Q",
        "category": "Function",
        "x": 325,
        "y": 320,
        "wires": [
            [
                "sd_5HSvvAAlbVxWMrSM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_5HSvvAAlbVxWMrSM",
        "type": "PageCallService",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "receivedTableData",
                "mapVarName": "result",
                "localVar": "this.page.receivedTableData"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_5HSvvAAlbVxWMrSM",
        "category": "General",
        "x": 425,
        "y": 320,
        "wires": [
            [
                "sd_WVc7JxjRDeZUFStw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_WVc7JxjRDeZUFStw",
        "type": "Script",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "log table",
        "script": "console.log(\"this table\",page.receivedTableData)",
        "functionName": "logTable",
        "category": "Function",
        "x": 525,
        "y": 320,
        "wires": [
            [
                "sd_FEzlg1JIzC1mej2X"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_FEzlg1JIzC1mej2X",
        "type": "ViewPicker",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "table",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatSort"
                },
                "defaultValue": "",
                "isViewChildren": false
            },
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "table",
        "category": "Function",
        "x": 625,
        "y": 320,
        "wires": [
            [
                "sd_lfpoJtSxNNiwXT43"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wJBnESgJGGNuKJn4",
        "type": "Storage",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "currentUserDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "currentUserDetails"
        },
        "functionName": "sd_wJBnESgJGGNuKJn4",
        "category": "Storage",
        "x": 225,
        "y": 320,
        "wires": [
            [
                "sd_lbtlLEQlxqy4C52Q"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_lfpoJtSxNNiwXT43",
        "type": "Script",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "setTableTokens",
        "script": "let tableData = [];\nlet userGroups = ['Executive', 'Manager', 'HR', 'Finance'];\nlet tableSetup = {\n    \"traveler\": {\n        \"tableHeaders\": ['Date Created', 'Trip Type', 'Travel Mode', 'From City', 'To City', 'Status', 'Action'],\n        \"tableCells\": ['dateCreated', `tripType`, 'travelMode', 'fromCity', 'toCity', 'action']\n    }\n};\nbh.role = (!userGroups.includes(page.currentUserDetails.designation)) ? 'traveler' : 'other',\n    page.tableHeaders = tableSetup[bh.role]['tableHeaders'];\npage.tableCells = tableSetup[bh.role]['tableCells'];\npage.receivedTableData['data'].forEach(el => {\n    let temp = {};\n    temp['_id'] = el['_id'];\n    temp['dateCreated'] = el['dateCreated'];\n    temp['tripType'] = el['requestDetails'][0]['travelDetails']['tripType'];\n    temp['travelMode'] = el['requestDetails'][0]['travelDetails']['travelMode'];\n    temp['fromCity'] = el['requestDetails'][0]['travelDetails']['fromCity'];\n    temp['toCity'] = el['requestDetails'][0]['travelDetails']['toCity'];\n    tableData.push(temp);\n})\n\npage.tableData = new page.tableDataSource(tableData);\npage.tableData.paginator = bh.pageViews.MatPaginator;\npage.tableData.sort = bh.pageViews.MatSort;",
        "functionName": "setTableTokens",
        "category": "Function",
        "x": 725,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_EZ3NVWoCTRthdcdE",
        "type": "PageStart",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "open view request",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "selectedRowID",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "openViewRequest",
        "category": "General",
        "x": 287,
        "y": 171.8125,
        "wires": [
            [
                "sd_jL3NCJrsQ1UzdJuZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_TaDCMBsR0KXkD63u",
        "type": "OpenDialog",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_TO8KXUn3nydbh4fD",
            "label": "travelRequestDialog"
        },
        "relativePath": "./travelRequestDialog",
        "data": "bh.data",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": true,
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "\"85vh\"",
        "minHeight": "\"85vh\"",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "\"85vw\"",
        "panelClass": "this.page.scroll",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "bh.x",
        "functionName": "sd_TaDCMBsR0KXkD63u",
        "category": "Dialog",
        "x": 567,
        "y": 171.8125,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh",
                "value": "data",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "bool",
                "value": "true",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "str",
                "value": "85vh",
                "constant": false
            },
            "minHeight": {
                "type": "str",
                "value": "85vh",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "str",
                "value": "85vw",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "scroll",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "x",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jL3NCJrsQ1UzdJuZ",
        "type": "Script",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.data = page.receivedTableData['data'].find(obj => bh.input.selectedRowID == obj._id);\n\n",
        "functionName": "sd_jL3NCJrsQ1UzdJuZ",
        "category": "Function",
        "x": 467,
        "y": 171.8125,
        "wires": [
            [
                "sd_TaDCMBsR0KXkD63u"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_EnXv8MqWeSjGfafA",
        "type": "PageStart",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "closeProfile",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "closeProfile",
        "category": "General",
        "x": 225,
        "y": 420,
        "wires": [
            [
                "sd_9KZr8EZKbPqNglpJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_9KZr8EZKbPqNglpJ",
        "type": "CloseDialog",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.profileDialog",
        "functionName": "sd_9KZr8EZKbPqNglpJ",
        "category": "Dialog",
        "x": 315.171875,
        "y": 420.03125,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "profileDialog",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_usQBP6hoDkCFCDaE",
        "type": "PageStart",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit form",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "profileForm",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submitForm",
        "category": "General",
        "x": 225,
        "y": 560,
        "wires": [
            [
                "sd_sLKaEZbR5fAq5UYA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "draftsComponent"
    },
    {
        "id": "sd_F52poRdDGbIhjVIL",
        "type": "PageCallService",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_hkAMxxfqyGUP7RIf",
            "type": "tab",
            "createdDate": "2022-06-28T19:32:02.953Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_alQ4JDGbxbp70Zlt",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh.input",
                "value": "profileForm"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "personalDetails",
                "mapVarName": "result",
                "localVar": "this.page.personalDetails"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            "bh.input.profileForm"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_F52poRdDGbIhjVIL",
        "category": "General",
        "x": 430,
        "y": 560,
        "wires": [
            [
                "sd_19j8rfwJWAp4qCZE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_sLKaEZbR5fAq5UYA",
        "type": "Script",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.method = \"put\",\nbh.endPoint = \"/updateTravelRequest/draft\" + page.personalDetails._id;\n",
        "functionName": "sd_sLKaEZbR5fAq5UYA",
        "category": "Function",
        "x": 330,
        "y": 560,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_19j8rfwJWAp4qCZE",
        "type": "CloseDialog",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.profileDialog",
        "functionName": "sd_19j8rfwJWAp4qCZE",
        "category": "Dialog",
        "x": 545,
        "y": 560,
        "wires": [
            [
                "sd_r0sgi4ZufayExBpb"
            ]
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "profileDialog",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_12c3Erz4KZBVYD13",
        "type": "SnackBar",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Failed to update record"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_12c3Erz4KZBVYD13",
        "category": "General",
        "x": 845,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_r0sgi4ZufayExBpb",
        "type": "PageSwitch",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "personalDetails",
        "propertyType": "this.page",
        "propertyGv": "this.page.personalDetails",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_r0sgi4ZufayExBpb",
        "category": "Function",
        "x": 625,
        "y": 560,
        "wires": [
            [
                "sd_12c3Erz4KZBVYD13"
            ],
            [
                "sd_NhIDFN1WKbzv9lFr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_NhIDFN1WKbzv9lFr",
        "type": "SnackBar",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Record updated successfully"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_NhIDFN1WKbzv9lFr",
        "category": "General",
        "x": 834,
        "y": 617.8125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_lCLzfsJy4i9pbPTQ",
        "type": "UseDependency",
        "z": "sd_XVCZI1NQxgXsjXfL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "CommonModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "DatePipe",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "pages",
        "functionName": "sd_lCLzfsJy4i9pbPTQ",
        "category": "Function",
        "x": 125,
        "y": 60,
        "wires": [
            [
                "sd_RcU9bg72YARcs8YT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
