designs/pages/login.json
[
    {
        "id": "sd_oLqqWgrxFPwslUVW",
        "type": "tab",
        "createdDate": "2022-09-24T21:11:39.361Z",
        "label": "login",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_uagTUGBRBnZulUoo",
        "type": "OnInit",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_uagTUGBRBnZulUoo",
        "category": "Lifecycle Events",
        "x": 85,
        "y": 60,
        "wires": [
            [
                "sd_nn89xCoGyXPPaqRU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_nn89xCoGyXPPaqRU",
        "type": "PageVariables",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "userCreds",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_nn89xCoGyXPPaqRU",
        "category": "Function",
        "x": 185,
        "y": 60,
        "wires": [
            [
                "sd_sijM6NTNrgGgQ8Lh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_sijM6NTNrgGgQ8Lh",
        "type": "UseDependency",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ReactiveFormsModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FG"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_sijM6NTNrgGgQ8Lh",
        "category": "Function",
        "x": 285,
        "y": 60,
        "wires": [
            [
                "sd_OQZQxEs6F65jk5jr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_OQZQxEs6F65jk5jr",
        "type": "Script",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loginForm = new FormGroup({\n    username: new FormControl(''),\n    password: new FormControl(''),\n    rememberMe: new FormControl('')\n    });\n",
        "functionName": "sd_OQZQxEs6F65jk5jr",
        "category": "Function",
        "x": 405,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Zmp0pc5HmDOnfEvU",
        "type": "PageStart",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "pages",
        "nodeType": "start",
        "name": "login",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "login",
        "category": "General",
        "x": 85,
        "y": 260,
        "wires": [
            [
                "sd_OSzkVS28qZ1RYwKe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_OSzkVS28qZ1RYwKe",
        "type": "Script",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.userCreds = page.loginForm.value;\nbh.method = 'get';\nbh.endPoint = `login?username=${page.userCreds.username}&password=${page.userCreds.password}`\n\n// bh.endPoint = \"login?username=\" + page.userCreds.username + \"&password=\" + page.userCreds.password\n\n\n",
        "functionName": "sd_OSzkVS28qZ1RYwKe",
        "category": "Function",
        "x": 165,
        "y": 260,
        "wires": [
            [
                "sd_WG9jgVUhLDb5Wz3S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_WG9jgVUhLDb5Wz3S",
        "type": "PageCallService",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "response",
                "mapVarName": "result",
                "localVar": "bh.response"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_WG9jgVUhLDb5Wz3S",
        "category": "General",
        "x": 285,
        "y": 260,
        "wires": [
            [
                "sd_Tlo3K5sxMAUqpgrl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_T0bSMd8MVkuNVyZ3",
        "type": "PageSwitch",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "response.user",
        "propertyType": "bh",
        "propertyGv": "bh.response.user",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_T0bSMd8MVkuNVyZ3",
        "category": "Function",
        "x": 445,
        "y": 260,
        "wires": [
            [
                "sd_2RfY3hkr8C5FDXhv"
            ],
            [
                "sd_QFOnt0vPUE2m5i3b"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4PQVE60xCfHXusHC",
        "type": "SnackBar",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh",
            "value": "response.msg"
        },
        "action": {
            "type": "str",
            "value": "Dismiss"
        },
        "duration": {
            "type": "num",
            "value": "2500"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_4PQVE60xCfHXusHC",
        "category": "General",
        "x": 645,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_L5IHBMJeis0D14Is",
        "type": "Navigation",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/travelRequestDialog",
        "functionName": "sd_L5IHBMJeis0D14Is",
        "category": "Navigation",
        "x": 745,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fXMKQHS7GRdVpM5L",
        "type": "Storage",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "currentUserDetails"
        },
        "value": {
            "type": "bh",
            "value": "currentUser"
        },
        "resultMapping": {},
        "functionName": "sd_fXMKQHS7GRdVpM5L",
        "category": "Storage",
        "x": 645,
        "y": 180,
        "wires": [
            [
                "sd_L5IHBMJeis0D14Is"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_QFOnt0vPUE2m5i3b",
        "type": "Script",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.msg = 'Invalid Credentials'",
        "functionName": "sd_QFOnt0vPUE2m5i3b",
        "category": "Function",
        "x": 545,
        "y": 300,
        "wires": [
            [
                "sd_4PQVE60xCfHXusHC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_b7wpTZBwa1Fk4EhS",
        "type": "Comments",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "comments": "<p>endpoint&nbsp;consists&nbsp;of&nbsp;</p><p>login(name&nbsp;of&nbsp;api&nbsp;on&nbsp;SSD)&nbsp;-&nbsp;('?'&nbsp;checks&nbsp;if&nbsp;its&nbsp;true),&nbsp;(check&nbsp;SSD-&nbsp;it&nbsp;goes&nbsp;into&nbsp;the&nbsp;'users'&nbsp;collection)&nbsp;going&nbsp;into&nbsp;the&nbsp;'username'&nbsp;section&nbsp;and&nbsp;using&nbsp;the&nbsp;'=$',&nbsp;queries&nbsp;by&nbsp;{page.userCreds.username}&nbsp;and(&amp;)&nbsp;does&nbsp;the&nbsp;same&nbsp;for&nbsp;password</p><p>&nbsp;</p><p>method(set in script node)(in this case, is a GET)</p>",
        "category": "General",
        "x": 365,
        "y": 140,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_2RfY3hkr8C5FDXhv",
        "type": "Script",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.currentUser = bh.response.user[0]",
        "functionName": "sd_2RfY3hkr8C5FDXhv",
        "category": "Function",
        "x": 545,
        "y": 220,
        "wires": [
            [
                "sd_4PQVE60xCfHXusHC",
                "sd_fXMKQHS7GRdVpM5L"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Tlo3K5sxMAUqpgrl",
        "type": "Script",
        "z": "sd_oLqqWgrxFPwslUVW",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"wdjwdj\",bh.response)",
        "functionName": "sd_Tlo3K5sxMAUqpgrl",
        "category": "Function",
        "x": 365,
        "y": 260,
        "wires": [
            [
                "sd_T0bSMd8MVkuNVyZ3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
