designs/pages/new_travel_request.json
[
    {
        "id": "sd_osEacZsdUBcy4IJg",
        "type": "tab",
        "createdDate": "2022-06-28T23:10:55.135Z",
        "label": "new_travel_request",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_SXnm4ototMyRWa27",
        "type": "OnInit",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [
            {
                "key": "outputVar",
                "defaultValue": {
                    "type": "any",
                    "value": null
                }
            }
        ],
        "functionName": "sd_SXnm4ototMyRWa27",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 80,
        "wires": [
            [
                "sd_MWBuy73tA0Xq4qCD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_MWBuy73tA0Xq4qCD",
        "type": "PageVariables",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "personalDetailsForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "travelForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "date",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "futureDate",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "userInfo",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "showInternaionalTravel",
                "typedIpValue": {
                    "type": "literal",
                    "value": "'false'"
                }
            },
            {
                "textIp": "showVISA",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "project",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "requestDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "requestDetailsForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "showHideElement",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "showHideButton",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "showID",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "showPan",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "get",
                "typedIpValue": {
                    "type": "str",
                    "value": ""
                }
            },
            {
                "textIp": "personalDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "fetchedRequestForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "formObj",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "key",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "other",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "otherToCity",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "newRequestButtons",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "managerButtons",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "dialogData",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "filterPersonalDetail",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "tempArr",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "travelRequestType",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "addLeg",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_MWBuy73tA0Xq4qCD",
        "category": "Function",
        "x": 185,
        "y": 80,
        "wires": [
            [
                "sd_3vQvCLGHPR3YmnTB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_3vQvCLGHPR3YmnTB",
        "type": "UseDependency",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FormGroup"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ValidationErrors",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ReactiveFormsModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "ReactiveFormsModule"
                },
                "injectable": false
            },
            {
                "textIp": "FormBuilder",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "Fb"
                },
                "injectable": true
            },
            {
                "textIp": "FormArray",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FormArray"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_3vQvCLGHPR3YmnTB",
        "category": "Function",
        "x": 285,
        "y": 80,
        "wires": [
            [
                "sd_Z1HHAwxxPpAGr8z8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_XoSN8pKbkzY3VXRC",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "personalDetails ",
        "script": "page.personalDetailsForm =new FormGroup({\n      requestedFor: new FormControl (''),\n      requestType: new FormControl (''),\n      firstName: new FormControl('', [Validators.minLength(3),Validators.required]),\n       lastName: new FormControl('',[ Validators.minLength(3),Validators.required]),\n       dateOfBirth: new FormControl('', [Validators.required]),\n       gender: new FormControl('', [Validators.required]),\n       email: new FormControl('', [Validators.required, Validators.email]),\n       designation: new FormControl('', [Validators.required]),\n       idNumber: new FormControl(false, [Validators.required]),\n       panNumber: new FormControl(null, [Validators.minLength(10),Validators.pattern(\"[A-Z]{5}[0-9]{4}[A-Z]{1}\"),Validators.required]),\n       passportNumber: new FormControl('', [Validators.required]),\n       nationality:new FormControl('', [Validators.required]),\n       station: new FormControl('', [Validators.required]),\n       lineManager: new FormControl('', [Validators.required]),\n       lineManagerEmail: new FormControl('', [Validators.required]),\n})\n",
        "functionName": "personalDetails",
        "category": "Function",
        "x": 485,
        "y": 80,
        "wires": [
            [
                "sd_DFBceSl6hbfqJq3d"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_DFBceSl6hbfqJq3d",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "form controls creation",
        "script": "page.travelForm = new FormGroup({\n  requestDetails: page.Fb.array([])\n});",
        "functionName": "formControlsCreation",
        "category": "Function",
        "x": 585,
        "y": 80,
        "wires": [
            [
                "sd_bvYvWg7Xv6GTK5wB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_Z1HHAwxxPpAGr8z8",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "select Data",
        "script": "page.identification =[ {viewvalue : \"ID Number\"},{viewvalue : \"PAN Number\"},{viewvalue : \"Passoprt Number\"} ]\npage.options =  [{viewvalue : \"Yes\"},{viewvalue : \"No\"},{viewvalue : \"Unsure\"}];\npage.city =[{viewvalue: \"Cape Town\"},{viewvalue: \"Johnnesburg\"},{viewvalue: \"Bangalore\"},{viewvalue: \"New York\"},{viewvalue: \"Other\"}]\npage.travelType = [{viewvalue : \"International\"},{viewvalue : \"Domestic\"}];\npage.travelMode = [{viewvalue: \"Road\"},{viewvalue: \"Airway\"},{viewvalue: \"Railway\"}];\npage.nationality = [{viewvalue: \"South African\"},{viewvalue: \"Asian\"},{viewvalue: \"Eurpoean\"},{viewvalue: \"Indian\"},{viewvalue: \"Other\"}];\npage.gender =  [{viewvalue: \"Male\"},{viewvalue: \"Female\"},{viewvalue: \"Other\"}];\npage.purposeOfTravel = [{viewvalue: \"Meeting\"},{viewvalue: \"Shootout\"},{viewvalue: \"Sales\"}];\npage.accomodationPreferance =[{viewvalue: \"hotel\"},{viewvalue: \"B&B\"}]",
        "functionName": "selectData",
        "category": "Function",
        "x": 385,
        "y": 80,
        "wires": [
            [
                "sd_XoSN8pKbkzY3VXRC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_bdozh8xtjLzM0QiG",
        "type": "PageStart",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "date",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "currentDate",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "date",
        "category": "General",
        "x": 465,
        "y": 180,
        "wires": [
            [
                "sd_p628PvB6Wft0W8cy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_bvYvWg7Xv6GTK5wB",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "getPersonalDetails",
        "script": "page.date = new Date();\npage.futureDate = page.travelForm?.controls?.requestDetails?.controls[0]?.controls?.accommodationDetails?.controls?.checkOutDate\npage.email = \"neutrinostravellm@gmail.com\"\nbh.endPoint = 'genericGet/getPersonalDetails?email=' + page.email;\nbh.method =\"get\";",
        "functionName": "getPersonalDetails",
        "category": "Function",
        "x": 705,
        "y": 80,
        "wires": [
            [
                "sd_9CcspaWLwsjeh7Li"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_p628PvB6Wft0W8cy",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.date = new Date();\npage.futureDate = new Date(bh.input.currentDate - 1);\n",
        "functionName": "sd_p628PvB6Wft0W8cy",
        "category": "Function",
        "x": 625,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_dQi0ZDxCALyvvKO5",
        "type": "PageStart",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onFileChange",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onFileChange",
        "category": "General",
        "x": 65,
        "y": 180,
        "wires": [
            [
                "sd_L8dj6KHB0MWU3lHf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_L8dj6KHB0MWU3lHf",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (bh.input.event.target.files.length > 0) {\n      const file = bh.input.event.target.files[0];\n   var reader = new FileReader();\n   reader.readAsDataURL(file);\n   reader.onload = function () {\n     page.passportBase64 = reader.result;\n    \n   };\n   reader.onerror = function (error) {\n     console.log('Error: ', error);\n   };\n}",
        "functionName": "sd_L8dj6KHB0MWU3lHf",
        "category": "Function",
        "x": 165,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_vIyeD3TDlSiq1fsw",
        "type": "PageStart",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "addNewRequestForm",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addNewRequestForm",
        "category": "General",
        "x": 705,
        "y": 180,
        "wires": [
            [
                "sd_LYJcmnJwoRoJ6qQz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_LYJcmnJwoRoJ6qQz",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.travelForm.get('requestDetails').push(new FormGroup({\n  travelDetails: page.Fb.group({\n    travelMode: ['', [Validators.required]],\n    travelType: ['', [Validators.required]],\n    travelPurpose: ['', [Validators.required]],\n    projectID: ['', [Validators.required]],\n    fromCity: ['', [Validators.required]],\n    toCity: ['', [Validators.required]],\n    fromDate: ['', [Validators.required]],\n    toDate: ['', [Validators.required]],\n    tripType: ['', [Validators.required]],\n    preferredTime: ['', [Validators.required]],\n    travelerComments: [''],\n    passportDocument: [''],\n    visaRequired: ['', []],\n    visa:[''],\n    covidCertificate: [''],\n   passport: [''],\n    needvehicle: ['', [Validators.required]],\n    needAccommodation: ['', [Validators.required]]\n  }),\n  accommodationDetails: page.Fb.group({\n    accommodationPreference: [''],\n    city: [''],\n    checkInDate: [''],\n    checkOutDate: [''],\n    checkInTime: [''],\n    checkOutTime: [''],\n    employeeComments: ['']\n\n  })\n}));\n//page.travelForm.requestDetails.patchValue();\n\n\n\n",
        "functionName": "sd_LYJcmnJwoRoJ6qQz",
        "category": "Function",
        "x": 845,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_nQp7Ok4Ni2vmpKyc",
        "type": "PageStart",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "dateChange",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "date",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "dateChange",
        "category": "General",
        "x": 925,
        "y": 180,
        "wires": [
            [
                "sd_7E0kFOs0S0LoIGyd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_7E0kFOs0S0LoIGyd",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.futureDate = new Date(bh.input.date.value);\n",
        "functionName": "sd_7E0kFOs0S0LoIGyd",
        "category": "Function",
        "x": 1025,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_67aOoRf2YhdTaSXA",
        "type": "PageStart",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "removeNewRequestFormLeg",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "i",
                "defaultValue": {
                    "type": "num",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "removeNewRequestFormLeg",
        "category": "General",
        "x": 265,
        "y": 180,
        "wires": [
            [
                "sd_95E59tpBNueqjcTi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_95E59tpBNueqjcTi",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.travelForm.get('requestDetails').removeAt(bh.input.i);",
        "functionName": "sd_95E59tpBNueqjcTi",
        "category": "Function",
        "x": 385,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_hKIdGwv5EY1dYacv",
        "type": "PageStart",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Select changes Function",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "selectChangesFunction",
        "category": "General",
        "x": 1145,
        "y": 180,
        "wires": [
            [
                "sd_KSMim0D7ZZLU1qV0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_KSMim0D7ZZLU1qV0",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(bh.input.event.value ==\"International\"){\npage.showVISA = true;  \n}\nelse if(bh.input.event.value ==\"Domestic\") {\n    page.showVISA = false;  \n}else if(bh.input.event.value ==\"one-way\"){\n    page.addLeg = true;\n} else if(bh.input.event.value ==\"Return\"){\n     page.addLeg = false;\n}else if(bh.input.event.value ==\"On Behalf\"){\n    console.log(\"on behalf\")\n    page.requestedFor = true;\n} else if(bh.input.event.value ==\"Self\"){\n     page.requestedFor = false;\n     \n     bh.endPoint = 'genericGet/getPersonalDetails?email=' + page.requesterDetails.email;\n    bh.method =\"get\";\n }",
        "functionName": "sd_KSMim0D7ZZLU1qV0",
        "category": "Function",
        "x": 1265,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Kwd7KJtk5BkZ9WYJ",
        "type": "PageStart",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit_clear_draft",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "personalDetailsForm",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit_clear_draft",
        "category": "General",
        "x": 65,
        "y": 340,
        "wires": [
            [
                "sd_Tyw2L65nU6abERyb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_Tyw2L65nU6abERyb",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "//combine the 2 forms\nconsole.log(page.travelRequestType, 'retype');\npage.formObj = {\n    \"personalDetails\": bh.input.personalDetailsForm,\n    \"requestDetails\": bh.input.form.requestDetails,\n    \"status\": null,\n    \"managerApproval\": {\n        \"approvedRequest\": null,\n        \"comments\": \"\"\n    },\n    \"owner\": bh.input.personalDetailsForm.email,\n    \"dateCreated\": new Date(),\n    \"travelRequestType\": page.travelRequestType\n};\nconsole.log(page.formObj, 'page.formObj');\n    let tempDetails = []\npage.formObj.requestDetails.forEach(detail => {\n    detail['travelDetails']['passportDocument'] = page.passportBase64;\n    detail['travelDetails']['covidCertificate'] = page.covidBase64;\n    tempDetails.push(detail);\n})\npage.formObj.requestDetails = tempDetails;\nconsole.log(page.formObj, 'form');\n\nbh.endPoint = (bh.input.event == \"Draft\") ? 'addTravelRequest?type=draft' : 'addTravelRequest';\nbh.method = \"post\";\npage.currentUserTravelDetails = page.formObj\n",
        "functionName": "sd_Tyw2L65nU6abERyb",
        "category": "Function",
        "x": 185,
        "y": 340,
        "wires": [
            [
                "sd_hzlAOioSF7sfAnch"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_hzlAOioSF7sfAnch",
        "type": "PageSwitch",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "event",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.event",
        "rules": [
            {
                "t": "eq",
                "v": "Submit",
                "vt": "str",
                "gv": "\"Submit\""
            },
            {
                "t": "eq",
                "v": "Draft",
                "vt": "str",
                "gv": "\"Draft\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_hzlAOioSF7sfAnch",
        "category": "Function",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "sd_NtmVgjxzgfE27lTh"
            ],
            [
                "sd_lB67lzj3szt8sQDn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NtmVgjxzgfE27lTh",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Submit\")\nconsole.log(\"end\",bh.endPoint)",
        "functionName": "sd_NtmVgjxzgfE27lTh",
        "category": "Function",
        "x": 465,
        "y": 280,
        "wires": [
            [
                "sd_7iwpttQpIoNxNQF5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_lB67lzj3szt8sQDn",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"draft\")\nconsole.log(\"end\",bh.endPoint)",
        "functionName": "sd_lB67lzj3szt8sQDn",
        "category": "Function",
        "x": 445,
        "y": 440,
        "wires": [
            [
                "sd_wj1AZTaIkbCFLwaM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wRxX62BDfvlhRLUP",
        "type": "PageCallService",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "this.page",
                "value": "formObj"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "response",
                "mapVarName": "result",
                "localVar": "bh.response"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            "this.page.formObj"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_wRxX62BDfvlhRLUP",
        "category": "General",
        "x": 645,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7iwpttQpIoNxNQF5",
        "type": "SnackBar",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Form is submitted"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_7iwpttQpIoNxNQF5",
        "category": "General",
        "x": 545,
        "y": 280,
        "wires": [
            [
                "sd_wRxX62BDfvlhRLUP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wj1AZTaIkbCFLwaM",
        "type": "SnackBar",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Form is saved as draft"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_wj1AZTaIkbCFLwaM",
        "category": "General",
        "x": 565,
        "y": 440,
        "wires": [
            [
                "sd_wRxX62BDfvlhRLUP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_O2HdwEGI8Rs7tJA4",
        "type": "PageStart",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Reset Form",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "resetForm",
        "category": "General",
        "x": 745,
        "y": 340,
        "wires": [
            [
                "sd_ZTozXZqj4lBEKTQr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_ZTozXZqj4lBEKTQr",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": " bh.input.form.reset();",
        "functionName": "sd_ZTozXZqj4lBEKTQr",
        "category": "Function",
        "x": 925,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_eFiLUtoMjxJgvq2q",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.date = new Date();\n// page.futureDate = page.travelForm?.controls?.requestDetails?.controls[0]?.controls?.accommodationDetails?.controls?.checkOutDate\n\n// bh.endPoint = 'genericGet/getPersonalDetails?email=' + \"neo.thobela@neutrinos.co\";\n// bh.method =\"get\";",
        "functionName": "sd_eFiLUtoMjxJgvq2q",
        "category": "Function",
        "x": 945,
        "y": 80,
        "wires": [
            [
                "sd_ingqGw7RleshURbt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Kls047KIBkKDp6tK",
        "type": "PageCallService",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_osEacZsdUBcy4IJg",
            "type": "tab",
            "createdDate": "2022-06-28T23:10:55.135Z",
            "label": "new_travel_request",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_vIyeD3TDlSiq1fsw",
            "flowName": "addNewRequestForm"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./new_travel_request",
        "startName": "addNewRequestForm",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_Kls047KIBkKDp6tK",
        "category": "General",
        "x": 1125,
        "y": 80,
        "wires": [
            [
                "sd_7bcT7RLcuOOEXtsv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7bcT7RLcuOOEXtsv",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "patchPersonalDeatils",
        "script": "bh.key = 'currentUserDetails';\npage.personalDetailsForm.patchValue(page.personalDetails);",
        "functionName": "patchPersonalDeatils",
        "category": "Function",
        "x": 1225,
        "y": 80,
        "wires": [
            [
                "sd_gHPr72vSMvOwupAk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_gHPr72vSMvOwupAk",
        "type": "Storage",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "bh",
            "value": "key"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "requesterDetails"
        },
        "functionName": "sd_gHPr72vSMvOwupAk",
        "category": "Storage",
        "x": 1305,
        "y": 80,
        "wires": [
            [
                "sd_ZWhQp9HYeJRrnOhp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ZWhQp9HYeJRrnOhp",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.requester = `${page.personalDetails.firstName} ${page.personalDetails.lastName}`",
        "functionName": "sd_ZWhQp9HYeJRrnOhp",
        "category": "Function",
        "x": 1465,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9CcspaWLwsjeh7Li",
        "type": "Storage",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "currentUserDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "currentUserDetails"
        },
        "functionName": "sd_9CcspaWLwsjeh7Li",
        "category": "Storage",
        "x": 825,
        "y": 80,
        "wires": [
            [
                "sd_eFiLUtoMjxJgvq2q"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ingqGw7RleshURbt",
        "type": "PageCallService",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "personalDetails",
                "mapVarName": "result",
                "localVar": "this.page.personalDetails"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_ingqGw7RleshURbt",
        "category": "General",
        "x": 1045,
        "y": 80,
        "wires": [
            [
                "sd_Kls047KIBkKDp6tK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_dqTGtSubVUnQi0az",
        "type": "PageStart",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "requstedForHideandShow",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "element",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "requstedForHideandShow",
        "category": "General",
        "x": 1060,
        "y": 320,
        "wires": [
            [
                "sd_Xvjb4YiItErwxAGT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_Xvjb4YiItErwxAGT",
        "type": "PageSwitch",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "element.value",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.element.value",
        "rules": [
            {
                "t": "eq",
                "v": "Self",
                "vt": "str",
                "gv": "\"Self\""
            },
            {
                "t": "eq",
                "v": "On Behalf",
                "vt": "str",
                "gv": "\"On Behalf\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Xvjb4YiItErwxAGT",
        "category": "Function",
        "x": 1165,
        "y": 320,
        "wires": [
            [
                "sd_Z5Ai9J8jTiXMTgQP"
            ],
            [
                "sd_27m2bbalKXjHhtVY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Z5Ai9J8jTiXMTgQP",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"self\")\npage.requestedFor = true;\n\nbh.endPoint = 'genericGet/getPersonalDetails?email=' + 'neutrinostravellm@gmail.com';\nbh.method =\"get\";",
        "functionName": "sd_Z5Ai9J8jTiXMTgQP",
        "category": "Function",
        "x": 1285,
        "y": 260,
        "wires": [
            [
                "sd_SrKlYlChBAf5kKDc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_27m2bbalKXjHhtVY",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"on behalf\")\npage.requestedFor = false;\nbh.emitValue=bh.input.element\nbh.endPoint = 'genericGet/getPersonalDetails';\nbh.method =\"get\";",
        "functionName": "sd_27m2bbalKXjHhtVY",
        "category": "Function",
        "x": 1285,
        "y": 380,
        "wires": [
            [
                "sd_6LA12F1oOjsVUSrq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_SrKlYlChBAf5kKDc",
        "type": "PageCallService",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "Personaldetails",
                "mapVarName": "result",
                "localVar": "this.page.Personaldetails"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_SrKlYlChBAf5kKDc",
        "category": "General",
        "x": 1385,
        "y": 260,
        "wires": [
            [
                "sd_A5D9OXwhReKwLuIU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_A5D9OXwhReKwLuIU",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.personalDetails['dateOfBirth'] = new Date(page.personalDetails['dateOfBirth'])\npage.personalDetailsForm.patchValue(page.personalDetails);",
        "functionName": "sd_A5D9OXwhReKwLuIU",
        "category": "Function",
        "x": 1505,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_6LA12F1oOjsVUSrq",
        "type": "PageCallService",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "personaldetails",
                "mapVarName": "result",
                "localVar": "this.page.personaldetails"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_6LA12F1oOjsVUSrq",
        "category": "General",
        "x": 1385,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_BH4NURT71PCehw8v",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.personaldetails)\npage.filterPersonalDetail = page.personaldetails\nlet tempArr=page.filterPersonalDetail.filter(obj => obj.email?.toLowerCase().includes(bh?.emitValue?.toLowerCase()))\npage.personaldetails=tempArr;",
        "functionName": "sd_BH4NURT71PCehw8v",
        "category": "Function",
        "x": 1500,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_JShCDxMGh8jcvoIX",
        "type": "PageStart",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onSelectionChange",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onSelectionChange",
        "category": "General",
        "x": 1445,
        "y": 160,
        "wires": [
            [
                "sd_7t1sLpdPvZbg9PtU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "new_travel_requestComponent"
    },
    {
        "id": "sd_7t1sLpdPvZbg9PtU",
        "type": "Script",
        "z": "sd_osEacZsdUBcy4IJg",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let personalDetails = page.allPersonalDetails.find(el => bh.input.event.option.value == el.email)\nif (personalDetails) {\n    personalDetails['dateOfBirth'] = new Date(personalDetails['dateOfBirth'])\n    page.personalDetailsForm.patchValue(personalDetails);\n}",
        "functionName": "sd_7t1sLpdPvZbg9PtU",
        "category": "Function",
        "x": 1585,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
