designs/pages/profile_dialog.json
[
    {
        "id": "sd_CuX9VlaR3Za6sCxz",
        "type": "tab",
        "createdDate": "2022-09-15T09:36:23.220Z",
        "label": "profile_dialog",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "profile_dialogComponent"
    },
    {
        "id": "sd_W11bSYRcNZQAaom1",
        "type": "OnInit",
        "z": "sd_CuX9VlaR3Za6sCxz",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_W11bSYRcNZQAaom1",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 80,
        "wires": [
            [
                "sd_nemvzjYVHuKqiFZJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "profile_dialogComponent"
    },
    {
        "id": "sd_nemvzjYVHuKqiFZJ",
        "type": "PageVariables",
        "z": "sd_CuX9VlaR3Za6sCxz",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "profileDialog",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_nemvzjYVHuKqiFZJ",
        "category": "Function",
        "x": 145,
        "y": 80,
        "wires": [
            [
                "sd_vSJRDVn3BrkDsFnQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_vSJRDVn3BrkDsFnQ",
        "type": "UseDependency",
        "z": "sd_CuX9VlaR3Za6sCxz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ReactiveFormsModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FG"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_vSJRDVn3BrkDsFnQ",
        "category": "Function",
        "x": 245,
        "y": 80,
        "wires": [
            [
                "sd_9DF1Fu5s1DNEsmYT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_9DF1Fu5s1DNEsmYT",
        "type": "Script",
        "z": "sd_CuX9VlaR3Za6sCxz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.profileForm = new FormGroup({\n    firstName: new FormControl('', [Validators.required, Validators.pattern('[a-zA-Z ]*')]),\n    lastName: new FormControl('', [Validators.required, Validators.pattern('[a-zA-Z ]*')]),\n    dob: new FormControl('', [Validators.required]),\n    gender: new FormControl('', [Validators.required]),\n    email: new FormControl('', [Validators.required, Validators.email]),\n    role: new FormControl('', [Validators.required]),\n    idNumber: new FormControl('', [Validators.required]),\n    panNumber: new FormControl('', [Validators.required]),\n    passportNumber: new FormControl('', [Validators.required]),\n    nationality: new FormControl('', [Validators.required]),\n    officeStation: new FormControl('', [Validators.required]),\n    lineManager: new FormControl('', [Validators.required]),\n    lineManagerEmail: new FormControl('',[Validators.required, Validators.pattern('[0-9]{3}-[0-9]{3}-[0-9]{4}')]),\n  });",
        "functionName": "sd_9DF1Fu5s1DNEsmYT",
        "category": "Function",
        "x": 325,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_5tHSXkFtEkgHmY83",
        "type": "PageStart",
        "z": "sd_CuX9VlaR3Za6sCxz",
        "viewType": "pages",
        "nodeType": "start",
        "name": "closeProfile",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "closeProfile",
        "category": "General",
        "x": 65,
        "y": 160,
        "wires": [
            [
                "sd_zbYZLwoXPwvfM4HC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "profile_dialogComponent"
    },
    {
        "id": "sd_zbYZLwoXPwvfM4HC",
        "type": "CloseDialog",
        "z": "sd_CuX9VlaR3Za6sCxz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.profileDialog",
        "functionName": "sd_zbYZLwoXPwvfM4HC",
        "category": "Dialog",
        "x": 155.171875,
        "y": 160.03125,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "profileDialog",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
