designs/pages/reports.json
[
    {
        "id": "sd_jRDDrDywmOoNUrME",
        "type": "tab",
        "createdDate": "2022-09-29T06:57:35.324Z",
        "label": "reports",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "reportsComponent"
    },
    {
        "id": "sd_HAo5i01vVffZy4Ob",
        "type": "OnInit",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_HAo5i01vVffZy4Ob",
        "category": "Lifecycle Events",
        "x": 59,
        "y": 61.8125,
        "wires": [
            [
                "sd_mwKkao0Y1FGTikw6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reportsComponent"
    },
    {
        "id": "sd_tsi8P82xnxccosi9",
        "type": "PageVariables",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_tsi8P82xnxccosi9",
        "category": "Function",
        "x": 239,
        "y": 61.8125,
        "wires": [
            [
                "sd_JdhvcRlCLyPVzz7B"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "reportsComponent"
    },
    {
        "id": "sd_MHUz3Qh1c6CJoDiG",
        "type": "PageCallService",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_jRDDrDywmOoNUrME",
            "type": "tab",
            "createdDate": "2022-09-29T06:57:35.324Z",
            "label": "reports",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_CTb7KsUxkGDH5GXT",
            "flowName": "getTravelRequests"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./reports",
        "startName": "getTravelRequests",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_MHUz3Qh1c6CJoDiG",
        "category": "General",
        "x": 759,
        "y": 61.8125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "reportsComponent"
    },
    {
        "id": "sd_OTZFXvpvhZcIAwik",
        "type": "Script",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.method = \"get\";\n// bh.endPoint = \"getTravelRequestDrafts\"\nbh.endPoint = \"travelRequests/getTravelRequest?owner=\"+ page.currentUserDetails.owner;",
        "functionName": "sd_OTZFXvpvhZcIAwik",
        "category": "Function",
        "x": 679,
        "y": 61.8125,
        "wires": [
            [
                "sd_MHUz3Qh1c6CJoDiG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "reportsComponent"
    },
    {
        "id": "sd_JdhvcRlCLyPVzz7B",
        "type": "UseDependency",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "TableDataSource",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatTableDataSource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "tableDataSource"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/table",
        "serviceDesignerType": "pages",
        "functionName": "tableDataSource",
        "category": "Function",
        "x": 339,
        "y": 61.8125,
        "wires": [
            [
                "sd_8mejlNDxl4ZYkpXW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_8mejlNDxl4ZYkpXW",
        "type": "UseDependency",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Paginator",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatPaginator",
                "typedIpValue": {
                    "type": "this.page",
                    "value": " paginator"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/paginator",
        "serviceDesignerType": "pages",
        "functionName": "paginator",
        "category": "Function",
        "x": 419,
        "y": 61.8125,
        "wires": [
            [
                "sd_SY5RXwhqAOJ5sKnJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_SY5RXwhqAOJ5sKnJ",
        "type": "UseDependency",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Sort",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatSort",
                "typedIpValue": {
                    "type": "this.page",
                    "value": " sort"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/sort",
        "serviceDesignerType": "pages",
        "functionName": "sort",
        "category": "Function",
        "x": 499,
        "y": 61.8125,
        "wires": [
            [
                "sd_HzxAj9cY9Xt7kaO2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_HzxAj9cY9Xt7kaO2",
        "type": "PageVariables",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "currentUserDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            },
            {
                "textIp": "dashboardCards",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "tableHeaders",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "tableCells",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "receivedTableData",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "drafts",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_E9QbOlnVduPNV5MO_1",
        "category": "Function",
        "x": 579,
        "y": 61.8125,
        "wires": [
            [
                "sd_OTZFXvpvhZcIAwik"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_CTb7KsUxkGDH5GXT",
        "type": "PageStart",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "pages",
        "nodeType": "start",
        "name": "get travel requests",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getTravelRequests",
        "category": "General",
        "x": 139,
        "y": 321.8125,
        "wires": [
            [
                "sd_UHTJacxbargWdqTY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reportsComponent"
    },
    {
        "id": "sd_mobGlhGVbgNDWZqD",
        "type": "Script",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.currentUserDetails,\"deatisl\")\n\nbh.method = \"get\";\nbh.endPoint = \"travelRequests/getTravelRequests\"",
        "functionName": "sd_mobGlhGVbgNDWZqD",
        "category": "Function",
        "x": 339,
        "y": 321.8125,
        "wires": [
            [
                "sd_gHDMnUQ9Hx5K71XR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_gHDMnUQ9Hx5K71XR",
        "type": "PageCallService",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "receivedTableData",
                "mapVarName": "result",
                "localVar": "this.page.receivedTableData"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_gHDMnUQ9Hx5K71XR",
        "category": "General",
        "x": 439,
        "y": 321.8125,
        "wires": [
            [
                "sd_ZyBdAdnflV6Y2vlU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ZyBdAdnflV6Y2vlU",
        "type": "Script",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "common",
        "nodeType": "flow",
        "name": "log table",
        "script": "console.log(\"this table\",page.receivedTableData)",
        "functionName": "logTable",
        "category": "Function",
        "x": 539,
        "y": 321.8125,
        "wires": [
            [
                "sd_gUxdZKc9lVIHucJA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_gUxdZKc9lVIHucJA",
        "type": "ViewPicker",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "common",
        "nodeType": "flow",
        "name": "table",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatSort"
                },
                "defaultValue": "",
                "isViewChildren": false
            },
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "table",
        "category": "Function",
        "x": 639,
        "y": 321.8125,
        "wires": [
            [
                "sd_ppOXKs41qw7ZEgHb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_UHTJacxbargWdqTY",
        "type": "Storage",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "currentUserDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "currentUserDetails"
        },
        "functionName": "sd_UHTJacxbargWdqTY",
        "category": "Storage",
        "x": 239,
        "y": 321.8125,
        "wires": [
            [
                "sd_mobGlhGVbgNDWZqD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ppOXKs41qw7ZEgHb",
        "type": "Script",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "common",
        "nodeType": "flow",
        "name": "setTableTokens",
        "script": "let tableData = [];\nlet userGroups = ['Executive', 'Manager', 'HR', 'Finance'];\nlet tableSetup = {\n  \"traveler\": {\n        \"tableHeaders\": ['Owner', 'Date Created', 'Trip Type', 'Travel Mode', 'From City', 'To City', 'Status', 'Action'],\n        \"tableCells\": ['owner', 'dateCreated', `tripType`, 'travelMode', 'fromCity', 'toCity', 'status', 'action']\n    }\n};\nbh.role = (!userGroups.includes(page.currentUserDetails.designation)) ? 'traveler' : 'other',\n    page.tableHeaders = tableSetup[bh.role]['tableHeaders'];\npage.tableCells = tableSetup[bh.role]['tableCells'];\npage.receivedTableData['data'].forEach(el => {\n    if(el.status == 'Approved'){\n          let temp = {};\n    temp['_id'] = el['_id'];\n    temp['status'] = el['status'];\n    temp['dateCreated'] = el['dateCreated'];\n    temp['tripType'] = el['requestDetails'][0]['travelDetails']['tripType'];\n    temp['travelMode'] = el['requestDetails'][0]['travelDetails']['travelMode'];\n    temp['fromCity'] = el['requestDetails'][0]['travelDetails']['fromCity'];\n    temp['toCity'] = el['requestDetails'][0]['travelDetails']['toCity'];\n    tableData.push(temp);\n    } \n  \n})\n\npage.tableData = new page.tableDataSource(tableData);\npage.tableData.paginator = bh.pageViews.MatPaginator;\npage.tableData.sort = bh.pageViews.MatSort;",
        "functionName": "setTableTokens",
        "category": "Function",
        "x": 739,
        "y": 321.8125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_pnjT101aGZwUNr2K",
        "type": "PageStart",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "pages",
        "nodeType": "start",
        "name": "open view request",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "selectedRowID",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "openViewRequest",
        "category": "General",
        "x": 301,
        "y": 173.625,
        "wires": [
            [
                "sd_BKlIakA3DrLARlKx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reportsComponent"
    },
    {
        "id": "sd_uGGS7U1Gep1O3rt5",
        "type": "OpenDialog",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_TO8KXUn3nydbh4fD",
            "label": "travelRequestDialog"
        },
        "relativePath": "./travelRequestDialog",
        "data": "bh.data",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": true,
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "\"85vh\"",
        "minHeight": "\"85vh\"",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "\"85vw\"",
        "panelClass": "this.page.scroll",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "bh.x",
        "functionName": "sd_uGGS7U1Gep1O3rt5",
        "category": "Dialog",
        "x": 581,
        "y": 173.625,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh",
                "value": "data",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "bool",
                "value": "true",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "str",
                "value": "85vh",
                "constant": false
            },
            "minHeight": {
                "type": "str",
                "value": "85vh",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "str",
                "value": "85vw",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "scroll",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "x",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_BKlIakA3DrLARlKx",
        "type": "Script",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.data = page.receivedTableData['data'].find(obj => bh.input.selectedRowID == obj._id);\nbh.data.isDraft = true\n",
        "functionName": "sd_BKlIakA3DrLARlKx",
        "category": "Function",
        "x": 481,
        "y": 173.625,
        "wires": [
            [
                "sd_uGGS7U1Gep1O3rt5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_cy5FmQKRwomCg04N",
        "type": "PageStart",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "pages",
        "nodeType": "start",
        "name": "closeProfile",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "closeProfile",
        "category": "General",
        "x": 239,
        "y": 421.8125,
        "wires": [
            [
                "sd_9Cotv2PI80qwbnz4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reportsComponent"
    },
    {
        "id": "sd_9Cotv2PI80qwbnz4",
        "type": "CloseDialog",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.profileDialog",
        "functionName": "sd_9Cotv2PI80qwbnz4",
        "category": "Dialog",
        "x": 329.171875,
        "y": 421.84375,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "profileDialog",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_UQCRowp3s8jfK4DG",
        "type": "PageStart",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit form",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "profileForm",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submitForm",
        "category": "General",
        "x": 239,
        "y": 561.8125,
        "wires": [
            [
                "sd_O9ZIQdJ8BXVWkzID"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reportsComponent"
    },
    {
        "id": "sd_UjfJBCuNM1yHYzfS",
        "type": "PageCallService",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_hkAMxxfqyGUP7RIf",
            "type": "tab",
            "createdDate": "2022-06-28T19:32:02.953Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_alQ4JDGbxbp70Zlt",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh.input",
                "value": "profileForm"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "personalDetails",
                "mapVarName": "result",
                "localVar": "this.page.personalDetails"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            "bh.input.profileForm"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_UjfJBCuNM1yHYzfS",
        "category": "General",
        "x": 444,
        "y": 561.8125,
        "wires": [
            [
                "sd_6yaVLiGX5Gr7UPj6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_O9ZIQdJ8BXVWkzID",
        "type": "Script",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.method = \"put\",\nbh.endPoint = \"/updateTravelRequest/draft\" + page.personalDetails._id;\n",
        "functionName": "sd_O9ZIQdJ8BXVWkzID",
        "category": "Function",
        "x": 344,
        "y": 561.8125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_6yaVLiGX5Gr7UPj6",
        "type": "CloseDialog",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.profileDialog",
        "functionName": "sd_6yaVLiGX5Gr7UPj6",
        "category": "Dialog",
        "x": 559,
        "y": 561.8125,
        "wires": [
            [
                "sd_pwz6ztEn9q8XldcW"
            ]
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "profileDialog",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_4hkGZPxKkegzDQDg",
        "type": "SnackBar",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Failed to update record"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_4hkGZPxKkegzDQDg",
        "category": "General",
        "x": 859,
        "y": 521.8125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_pwz6ztEn9q8XldcW",
        "type": "PageSwitch",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "personalDetails",
        "propertyType": "this.page",
        "propertyGv": "this.page.personalDetails",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_pwz6ztEn9q8XldcW",
        "category": "Function",
        "x": 639,
        "y": 561.8125,
        "wires": [
            [
                "sd_4hkGZPxKkegzDQDg"
            ],
            [
                "sd_yTbtOv4AtQXykO5D"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_yTbtOv4AtQXykO5D",
        "type": "SnackBar",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Record updated successfully"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_yTbtOv4AtQXykO5D",
        "category": "General",
        "x": 848,
        "y": 619.625,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_mwKkao0Y1FGTikw6",
        "type": "UseDependency",
        "z": "sd_jRDDrDywmOoNUrME",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "CommonModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "DatePipe",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "pages",
        "functionName": "sd_mwKkao0Y1FGTikw6",
        "category": "Function",
        "x": 139,
        "y": 61.8125,
        "wires": [
            [
                "sd_tsi8P82xnxccosi9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
