designs/pages/travelRequestDialog.json
[
    {
        "id": "sd_TO8KXUn3nydbh4fD",
        "type": "tab",
        "createdDate": "2022-09-22T08:11:04.885Z",
        "label": "travelRequestDialog",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_tR4WvSo9HNG7rWNT",
        "type": "OnInit",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [
            {
                "key": "outputVar",
                "defaultValue": {
                    "type": "any",
                    "value": null
                }
            }
        ],
        "functionName": "sd_tR4WvSo9HNG7rWNT",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 80,
        "wires": [
            [
                "sd_0D94v0rlivWhVCrS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_0D94v0rlivWhVCrS",
        "type": "PageVariables",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "personalDetailsForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "travelForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "date",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "futureDate",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "userInfo",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "showInternaionalTravel",
                "typedIpValue": {
                    "type": "literal",
                    "value": "'false'"
                }
            },
            {
                "textIp": "showVISA",
                "typedIpValue": {
                    "type": "literal",
                    "value": "'false'"
                }
            },
            {
                "textIp": "project",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "requestDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "requestDetailsForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "showHideElement",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "showHideButton",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "showID",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "showPan",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "get",
                "typedIpValue": {
                    "type": "str",
                    "value": ""
                }
            },
            {
                "textIp": "personalDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "fetchedRequestForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "formObj",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "key",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "other",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "otherToCity",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "newRequestButtons",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "managerButtons",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "dialogData",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "filterPersonalDetail",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "tempArr",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "travelRequestType",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "status",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_0D94v0rlivWhVCrS",
        "category": "Function",
        "x": 185,
        "y": 80,
        "wires": [
            [
                "sd_zOe59wrgU7Wsi6yz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_zOe59wrgU7Wsi6yz",
        "type": "UseDependency",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FormGroup"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ValidationErrors",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ReactiveFormsModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "ReactiveFormsModule"
                },
                "injectable": false
            },
            {
                "textIp": "FormBuilder",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "Fb"
                },
                "injectable": true
            },
            {
                "textIp": "FormArray",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FormArray"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_zOe59wrgU7Wsi6yz",
        "category": "Function",
        "x": 325,
        "y": 80,
        "wires": [
            [
                "sd_QQGeDeEw3qQPqSSv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_CiBnsasWCOi6KmuI",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "pDetails ",
        "script": "page.personalDetailsForm =new FormGroup({\n      firstName: new FormControl('', [Validators.minLength(3),Validators.required]),\n       lastName: new FormControl('',[ Validators.minLength(3),Validators.required]),\n       dateOfBirth: new FormControl('', [Validators.required]),\n       gender: new FormControl('', [Validators.required]),\n       email: new FormControl('', [Validators.required, Validators.email]),\n       designation: new FormControl('', [Validators.required]),\n       idNumber: new FormControl(false, [Validators.required]),\n       panNumber: new FormControl(null, [Validators.minLength(10),Validators.pattern(\"[A-Z]{5}[0-9]{4}[A-Z]{1}\"),Validators.required]),\n       passportNumber: new FormControl('', [Validators.required]),\n       nationality:new FormControl('', [Validators.required]),\n       station: new FormControl('', [Validators.required]),\n       lineManager: new FormControl('', [Validators.required]),\n       lineManagerEmail: new FormControl('', [Validators.required]),\n})\n",
        "functionName": "pDetails",
        "category": "Function",
        "x": 565,
        "y": 80,
        "wires": [
            [
                "sd_JJayNSqczuPKPDvf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_JJayNSqczuPKPDvf",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "form controls creation",
        "script": "page.travelForm = new FormGroup({\n  requestDetails: page.Fb.array([])\n});",
        "functionName": "formControlsCreation",
        "category": "Function",
        "x": 685,
        "y": 80,
        "wires": [
            [
                "sd_x6hu49uNyfZxIuU1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_QQGeDeEw3qQPqSSv",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "select Data",
        "script": "page.identification =[ {viewvalue : \"ID Number\"},{viewvalue : \"PAN Number\"},{viewvalue : \"Passoprt Number\"} ]\npage.options =  [{viewvalue : \"Yes\"},{viewvalue : \"No\"},{viewvalue : \"Unsure\"}];\npage.city =[{viewvalue: \"Cape Town\"},{viewvalue: \"Johnnesburg\"},{viewvalue: \"Bangalore\"},{viewvalue: \"New York\"},{viewvalue: \"Other\"}]\npage.travelType = [{viewvalue : \"International\"},{viewvalue : \"Domestic\"}];\npage.travelMode = [{viewvalue: \"Road\"},{viewvalue: \"Airway\"},{viewvalue: \"Railway\"}];\npage.nationality = [{viewvalue: \"South African\"},{viewvalue: \"Asian\"},{viewvalue: \"Eurpoean\"},{viewvalue: \"Indian\"},{viewvalue: \"Other\"}];\npage.gender =  [{viewvalue: \"Male\"},{viewvalue: \"Female\"},{viewvalue: \"Other\"}];\npage.purposeOfTravel = [{viewvalue: \"Meeting\"},{viewvalue: \"Shootout\"},{viewvalue: \"Sales\"}];\npage.accomodationPreferance =[{viewvalue: \"hotel\"},{viewvalue: \"B&B\"}]",
        "functionName": "selectData",
        "category": "Function",
        "x": 465,
        "y": 80,
        "wires": [
            [
                "sd_CiBnsasWCOi6KmuI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_nT81NySbVt4MyRJv",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "date",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "currentDate",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "date",
        "category": "General",
        "x": 525,
        "y": 180,
        "wires": [
            [
                "sd_2KOEMq3MB70sBB4l"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_x6hu49uNyfZxIuU1",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.date = new Date();\npage.futureDate = page.travelForm?.controls?.requestDetails?.controls[0]?.controls?.accommodationDetails?.controls?.checkOutDate\npage.email = \"neutrinostravellm@gmail.com\"\nbh.endPoint = 'genericGet/getPersonalDetails?email=' + page.email;\nbh.method =\"get\";",
        "functionName": "sd_x6hu49uNyfZxIuU1",
        "category": "Function",
        "x": 805,
        "y": 80,
        "wires": [
            [
                "sd_JOZmL09ok2EgWdiJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_2KOEMq3MB70sBB4l",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.date = new Date();\npage.futureDate = new Date(bh.input.currentDate - 1);\n",
        "functionName": "sd_2KOEMq3MB70sBB4l",
        "category": "Function",
        "x": 645,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_iWRXkSMir3qk0Vcl",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onFileChange",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onFileChange",
        "category": "General",
        "x": 285,
        "y": 180,
        "wires": [
            [
                "sd_1S9piHTRJIcloROD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_1S9piHTRJIcloROD",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (bh.input.event.target.files.length > 0) {\n      const file = bh.input.event.target.files[0];\n    const reader = new FileReader();\n    reader.readAsDataURL(file);\n    reader.onload = () => {\n        \n    };\n    }\n  ",
        "functionName": "sd_1S9piHTRJIcloROD",
        "category": "Function",
        "x": 405,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_94TkagMd1P2y25cC",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "tdetails",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "personalDetailsForm",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "tdetails",
        "category": "General",
        "x": 85,
        "y": 280,
        "wires": [
            [
                "sd_V2rbLEg3Juf4Nfb1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_V2rbLEg3Juf4Nfb1",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "//combine the 2 forms\npage.formObj = {\n   \"personalDetails\" : page.personalDetailsForm.value,\n    \"requestDetails\" : bh.input.form.requestDetails,\n    \"status\":null,\n    \"managerApproval\" : {\n        \"approvedRequest\" : null,\n        \"comments\" : \"\"\n    },\n    \"owner\": page.personalDetailsForm.value.email,\n    \"dateCreated\": new Date().toISOString()\n    };\n    \n\n\nbh.endPoint = (bh.input.reqType) ? 'addTravelRequest?type=draft' : 'addTravelRequest';\nbh.method =\"post\";\npage.currentUserTravelDetails =page.formObj",
        "functionName": "sd_V2rbLEg3Juf4Nfb1",
        "category": "Function",
        "x": 185,
        "y": 280,
        "wires": [
            [
                "sd_ywPdeBxUVIpCOyJh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_C6UTeAxSvpv3VaYh",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "addNewRequestForm",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addNewRequestForm",
        "category": "General",
        "x": 765,
        "y": 180,
        "wires": [
            [
                "sd_7DHYYk5w2BOia7tY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_7DHYYk5w2BOia7tY",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.travelForm.get('requestDetails').push(new FormGroup({\n  travelDetails: page.Fb.group({\n    travelMode: ['', [Validators.required]],\n    travelType: ['', [Validators.required]],\n    travelRequestType: [false, [Validators.required]],\n    travelPurpose: ['', [Validators.required]],\n    projectID: ['', [Validators.required]],\n    fromCity: ['', [Validators.required]],\n    toCity: ['', [Validators.required]],\n    fromDate: ['', [Validators.required]],\n    toDate: ['', [Validators.required]],\n    tripType: ['', [Validators.required]],\n    requestedFor: [ ''],\n    requestType: [''],\n    preferredTime: ['', [Validators.required]],\n    travelerComments: [''],\n    passportDocument: [''],\n    visaRequired: [false, [Validators.required]],\n    covidCertificate: ['', page.showVisa ? [Validators.required] :[]],\n   passport: [''],\n    needvehicle: ['No', [Validators.required]],\n    needAccommodation: ['', [Validators.required]]\n  }),\n  accommodationDetails: page.Fb.group({\n    accommodationPreference: [false, [Validators.required]],\n    city: [false, [Validators.required]],\n    checkInDate: [''],\n    checkOutDate: [''],\n    checkInTime: [false, [Validators.required]],\n    checkOutTime: [''],\n    employeeComments: ['']\n\n  })\n}));\n\n\n",
        "functionName": "sd_7DHYYk5w2BOia7tY",
        "category": "Function",
        "x": 905,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_wMJfLNN2yhnvjQ6o",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "removeNewRequestForm",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "i",
                "defaultValue": {
                    "type": "num",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "removeNewRequestForm",
        "category": "General",
        "x": 85,
        "y": 180,
        "wires": [
            [
                "sd_fOHLLv9DbrD6t3PJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_fOHLLv9DbrD6t3PJ",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.travelForm.get('requestDetails').removeAt(bh.input.i);",
        "functionName": "sd_fOHLLv9DbrD6t3PJ",
        "category": "Function",
        "x": 205,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_934hydFQ9dxfKzlG",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "showVisa",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showVisa",
        "category": "General",
        "x": 65,
        "y": 500,
        "wires": [
            [
                "sd_nPWjdfqIrvzPHjsn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_nPWjdfqIrvzPHjsn",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(bh.input.event.value == \"International\"){\npage.showVisa= true;\n}else{\n    page.showVisa= false;\n}\n",
        "functionName": "sd_nPWjdfqIrvzPHjsn",
        "category": "Function",
        "x": 190,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_BVH0FtfYCKx6CbgN",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "hideVisa",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "hideVisa",
        "category": "General",
        "x": 290,
        "y": 500,
        "wires": [
            [
                "sd_lc8UguONHLnOF5di"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_lc8UguONHLnOF5di",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showVisa= false",
        "functionName": "sd_lc8UguONHLnOF5di",
        "category": "Function",
        "x": 450,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_pxNy9MEtIup5UToC",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "showButton",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showButton",
        "category": "General",
        "x": 825,
        "y": 480,
        "wires": [
            [
                "sd_XVAYQd5o2sxuLgFj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_XVAYQd5o2sxuLgFj",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showHideButton = true",
        "functionName": "sd_XVAYQd5o2sxuLgFj",
        "category": "Function",
        "x": 985,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_KVfO6NjlAsyJXdYp",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "hideButton",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "hideButton",
        "category": "General",
        "x": 1105,
        "y": 480,
        "wires": [
            [
                "sd_USWdrfLZh2riubeC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_USWdrfLZh2riubeC",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showHideButton = false",
        "functionName": "sd_USWdrfLZh2riubeC",
        "category": "Function",
        "x": 1225,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_TC45UabBaDMlmEz1",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "showRequstedfor",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "filteredvalues",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showRequstedfor",
        "category": "General",
        "x": 205,
        "y": 380,
        "wires": [
            [
                "sd_gLNPSgR1dCC5b2MZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_gLNPSgR1dCC5b2MZ",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showHideElement= true;\nbh.emitValue=bh.input.filteredvalues?.target?.value;",
        "functionName": "sd_gLNPSgR1dCC5b2MZ",
        "category": "Function",
        "x": 305,
        "y": 380,
        "wires": [
            [
                "sd_Ml6PjdblZpS8q4rN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ZRO3ydycIQAsRNVF",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "hideRequstedfor",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "hideRequstedfor",
        "category": "General",
        "x": 105,
        "y": 580,
        "wires": [
            [
                "sd_9O92w8jEA0JvIs3P"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_9O92w8jEA0JvIs3P",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showHideElement= false;\nbh.endPoint = 'genericGet/getPersonalDetails?email=' + page.requesterDetails.email;\nbh.method =\"get\";",
        "functionName": "sd_9O92w8jEA0JvIs3P",
        "category": "Function",
        "x": 205,
        "y": 580,
        "wires": [
            [
                "sd_tEXYIVzf0emfxde5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jrQif0HWd6HlUxVc",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Reset Form",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "resetForm",
        "category": "General",
        "x": 590,
        "y": 500,
        "wires": [
            [
                "sd_cegUeaWDbER1GKlf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_cegUeaWDbER1GKlf",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": " bh.input.form.reset();",
        "functionName": "sd_cegUeaWDbER1GKlf",
        "category": "Function",
        "x": 705,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_QNEdIDShKwzG537i",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "showID",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showID",
        "category": "General",
        "x": 525,
        "y": 600,
        "wires": [
            [
                "sd_gZwY5sEtYN9aTphV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_gZwY5sEtYN9aTphV",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showID= true\npage.showPan = false",
        "functionName": "sd_gZwY5sEtYN9aTphV",
        "category": "Function",
        "x": 685,
        "y": 600,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_072Q56fBlCgqnQZW",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "hideID",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "hideID",
        "category": "General",
        "x": 806,
        "y": 585.1875,
        "wires": [
            [
                "sd_wXc3JeHmm3f1Phyt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_wXc3JeHmm3f1Phyt",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showID= false\npage.showPan = true",
        "functionName": "sd_wXc3JeHmm3f1Phyt",
        "category": "Function",
        "x": 966,
        "y": 585.1875,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ywPdeBxUVIpCOyJh",
        "type": "SnackBar",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Form Has Been Submitted"
        },
        "action": {
            "type": "str",
            "value": ""
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_ywPdeBxUVIpCOyJh",
        "category": "General",
        "x": 320,
        "y": 280,
        "wires": [
            [
                "sd_l9u4r2IwiXQumodY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_l9u4r2IwiXQumodY",
        "type": "PageCallService",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_hkAMxxfqyGUP7RIf",
            "type": "tab",
            "createdDate": "2022-06-28T19:32:02.953Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_alQ4JDGbxbp70Zlt",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "this.page",
                "value": "formObj"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "response",
                "mapVarName": "result",
                "localVar": "bh.response"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            "this.page.formObj"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_l9u4r2IwiXQumodY",
        "category": "General",
        "x": 425,
        "y": 280,
        "wires": [
            [
                "sd_NQl5CPdzhPEPyrJB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_mczjChn3UvbFYKU5",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "dateChange",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "date",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "dateChange",
        "category": "General",
        "x": 1045,
        "y": 180,
        "wires": [
            [
                "sd_dcH2UmSxMGn8SNEc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_dcH2UmSxMGn8SNEc",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.futureDate = new Date(bh.input.date.value);\n",
        "functionName": "sd_dcH2UmSxMGn8SNEc",
        "category": "Function",
        "x": 1170,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_6WwNHYZkRl9IvKif",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "saveAsDraft",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "reqType",
                "defaultValue": {
                    "type": "str",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "saveAsDraft",
        "category": "General",
        "x": 65,
        "y": 360,
        "wires": [
            [
                "sd_V2rbLEg3Juf4Nfb1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_kv3JVQzFjTM8VzoL",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "select",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "select",
        "category": "General",
        "x": 1045,
        "y": 280,
        "wires": [
            [
                "sd_X7KI3RFpexkBqtk3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_X7KI3RFpexkBqtk3",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(bh.input.event.value == \"Other\"){\npage.other = true;\n} \n\n",
        "functionName": "sd_X7KI3RFpexkBqtk3",
        "category": "Function",
        "x": 1145,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ErqWhmTpSGgOJoWe",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "selectHide",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "selectHide",
        "category": "General",
        "x": 645,
        "y": 280,
        "wires": [
            [
                "sd_qjGwUl0iEwZDQaIV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_qjGwUl0iEwZDQaIV",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(bh.input.event.value != \"Other\"){\npage.other = false;\n} \n\n\n",
        "functionName": "sd_qjGwUl0iEwZDQaIV",
        "category": "Function",
        "x": 725,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_PsojXwaaRfpmK7QH",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "ToCitySelect",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "toCitySelect",
        "category": "General",
        "x": 825,
        "y": 280,
        "wires": [
            [
                "sd_9hDywdubEEBKkFRB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_9hDywdubEEBKkFRB",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(bh.input.event.value == \"Other\"){\npage.otherToCity = true;\n} \n\n",
        "functionName": "sd_9hDywdubEEBKkFRB",
        "category": "Function",
        "x": 925,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_JOZmL09ok2EgWdiJ",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.key = 'currentUserDetails';",
        "functionName": "sd_JOZmL09ok2EgWdiJ",
        "category": "Function",
        "x": 985,
        "y": 80,
        "wires": [
            [
                "sd_0DOZmwybf31sJ5yt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_0DOZmwybf31sJ5yt",
        "type": "Storage",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "bh",
            "value": "key"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "requesterDetails"
        },
        "functionName": "sd_0DOZmwybf31sJ5yt",
        "category": "Storage",
        "x": 1065,
        "y": 80,
        "wires": [
            [
                "sd_VX0RwVfFSie0PIxW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_VX0RwVfFSie0PIxW",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.requester = `${page.requesterDetails.firstName} ${page.requesterDetails.lastName}`",
        "functionName": "sd_VX0RwVfFSie0PIxW",
        "category": "Function",
        "x": 1145,
        "y": 80,
        "wires": [
            [
                "sd_IJNJRjjcU34jKDj1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_RbSRoqKXETQMSP5p",
        "type": "PageCallService",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_hkAMxxfqyGUP7RIf",
            "type": "tab",
            "createdDate": "2022-06-28T19:32:02.953Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_alQ4JDGbxbp70Zlt",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "allPersonalDetails",
                "mapVarName": "result",
                "localVar": "this.page.allPersonalDetails"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_RbSRoqKXETQMSP5p",
        "category": "General",
        "x": 585,
        "y": 380,
        "wires": [
            [
                "sd_dgaYMpAgMT9h5mNk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Ml6PjdblZpS8q4rN",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.endPoint = 'genericGet/getPersonalDetails';\nbh.method =\"get\";",
        "functionName": "sd_Ml6PjdblZpS8q4rN",
        "category": "Function",
        "x": 445,
        "y": 380,
        "wires": [
            [
                "sd_RbSRoqKXETQMSP5p"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_dgaYMpAgMT9h5mNk",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.filterPersonalDetail = page.allPersonalDetails\nlet tempArr=page.filterPersonalDetail.filter(obj => obj.email?.toLowerCase().includes(bh?.emitValue?.toLowerCase()))\npage.allPersonalDetails=tempArr;\n",
        "functionName": "sd_dgaYMpAgMT9h5mNk",
        "category": "Function",
        "x": 745,
        "y": 380,
        "wires": [
            [
                "sd_SD5QMEswKeNOHyzF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7s7KelVdLFWYWtnt",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onSelectionChange",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onSelectionChange",
        "category": "General",
        "x": 85,
        "y": 700,
        "wires": [
            [
                "sd_lik2dSMHzcFJYXgR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_lik2dSMHzcFJYXgR",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let personalDetails = page.allPersonalDetails.find(el => bh.input.event.option.value == el.email)\nif (personalDetails) {\n    personalDetails['dateOfBirth'] = new Date(personalDetails['dateOfBirth'])\n    page.personalDetailsForm.patchValue(personalDetails);\n}",
        "functionName": "sd_lik2dSMHzcFJYXgR",
        "category": "Function",
        "x": 225,
        "y": 700,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_tEXYIVzf0emfxde5",
        "type": "PageCallService",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_hkAMxxfqyGUP7RIf",
            "type": "tab",
            "createdDate": "2022-06-28T19:32:02.953Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_alQ4JDGbxbp70Zlt",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh.local",
                "value": "selfDetails",
                "mapVarName": "result",
                "localVar": "bh.local.selfDetails"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_tEXYIVzf0emfxde5",
        "category": "General",
        "x": 305,
        "y": 580,
        "wires": [
            [
                "sd_TwA2eswjPYV5FyoI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_TwA2eswjPYV5FyoI",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.selfDetails['dateOfBirth'] = new Date(bh.local.selfDetails['dateOfBirth'])\npage.personalDetailsForm.patchValue(bh.local.selfDetails);",
        "functionName": "sd_TwA2eswjPYV5FyoI",
        "category": "Function",
        "x": 405,
        "y": 580,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_IoH4u7HtzR7dNTlX",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "cancel button",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "cancelButton",
        "category": "General",
        "x": 1025,
        "y": 380,
        "wires": [
            [
                "sd_zIFmQUzCvcoS3xgB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_zIFmQUzCvcoS3xgB",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": " bh.input.form.reset();\n this.outputVar.emit(page.showDashboard)",
        "functionName": "sd_zIFmQUzCvcoS3xgB",
        "category": "Function",
        "x": 1140,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_IJNJRjjcU34jKDj1",
        "type": "Storage",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "currentUserDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "currentUserDetails"
        },
        "functionName": "sd_IJNJRjjcU34jKDj1",
        "category": "Storage",
        "x": 1265,
        "y": 80,
        "wires": [
            [
                "sd_5JxqTFveX4y0jIsM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NQl5CPdzhPEPyrJB",
        "type": "Storage",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "currentUserTravelDetails"
        },
        "value": {
            "type": "this.page",
            "value": "currentUserTravelDetails"
        },
        "resultMapping": {},
        "functionName": "sd_NQl5CPdzhPEPyrJB",
        "category": "Storage",
        "x": 525,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_SD5QMEswKeNOHyzF",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "//const filterValue = bh.input.filteredvalues;\n//page.filterPersonalDetail.filter(option => option.includes(filterValue));\n  //console.log(bh.input.filteredvalues,\"value\")",
        "functionName": "sd_SD5QMEswKeNOHyzF",
        "category": "Function",
        "x": 885,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_W6rsPbUeAuFcG4SJ",
        "type": "CloseDialog",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.profileDialog",
        "functionName": "sd_W6rsPbUeAuFcG4SJ",
        "category": "Dialog",
        "x": 585,
        "y": 800,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "profileDialog",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ub5bhbzwbngwdNfd",
        "type": "GetDialogData",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "dialogDataMapping": "this.page.dialogData",
        "functionName": "sd_ub5bhbzwbngwdNfd",
        "category": "Dialog",
        "x": 1425,
        "y": 260,
        "wires": [
            [
                "sd_bcNXeTciGHvpGsHn"
            ]
        ],
        "__ssdTypeInputs__": {
            "dialogDataMapping": {
                "type": "this.page",
                "value": "dialogData",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_bcNXeTciGHvpGsHn",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.dialogData['dateOfBirth'] = new Date(page.dialogData['dateOfBirth'])\npage.personalDetailsForm.patchValue(page.dialogData.personalDetails);\npage.travelForm.patchValue(page.dialogData.requestDetails[0].travelDetails);\npage.travelRequestType = page.dialogData['travelRequestType']\npage.dialogData.requestDetails.forEach(requestDetail => {\n    console.log(\"requestDetail\",requestDetail)\n    page.travelForm.get('requestDetails').push(new FormGroup({\n        travelDetails: page.Fb.group({\n            travelMode: [requestDetail.travelDetails.travelMode, [Validators.required]],\n            travelType: [requestDetail.travelDetails.travelType, [Validators.required]],\n            travelRequestType: [false, [Validators.required]],\n            travelPurpose: [requestDetail.travelDetails.travelPurpose, [Validators.required]],\n            projectID: [requestDetail.travelDetails.projectID, [Validators.required]],\n            fromCity: [requestDetail.travelDetails.fromCity, [Validators.required]],\n            toCity: [requestDetail.travelDetails.toCity, [Validators.required]],\n            fromDate: [requestDetail.travelDetails.fromDate, [Validators.required]],\n            toDate: [requestDetail.travelDetails.toDate, [Validators.required]],\n            tripType: [requestDetail.travelDetails.tripType, [Validators.required]],\n            requestedFor: [requestDetail.travelDetails.requestedFor],\n            requestType: [requestDetail.travelDetails.requestType],\n            preferredTime: [requestDetail.travelDetails.preferredTime, [Validators.required]],\n            travelerComments: [requestDetail.travelDetails.travelerComments],\n            passportDocument: [requestDetail.travelDetails.passportDocument],\n            visaRequired: [requestDetail.travelDetails.visaRequired, [Validators.required]],\n            covidCertificate: [requestDetail.travelDetails.covidCertificate, page.showVisa ? [Validators.required] : []],\n            passport: [requestDetail.travelDetails.passport],\n            needvehicle: [requestDetail.travelDetails.needvehicle, [Validators.required]],\n            needAccommodation: [requestDetail.travelDetails.needAccommodation, [Validators.required]]\n        }),\n        accommodationDetails: page.Fb.group({\n            accommodationPreference: [requestDetail.accommodationDetails.accommodationPreference, [Validators.required]],\n            city: [requestDetail.accommodationDetails.city, [Validators.required]],\n            checkInDate: [requestDetail.accommodationDetails.checkInDate],\n            checkOutDate: [requestDetail.accommodationDetails.checkOutDate],\n            checkInTime: [requestDetail.accommodationDetails.checkInTime, [Validators.required]],\n            checkOutTime: [requestDetail.accommodationDetails.checkOutTime],\n            employeeComments: [requestDetail.accommodationDetails.employeeComments]\n        })\n    }));\n})\n\nconsole.log(page.dialogData, '_idddddd 333633')\n",
        "functionName": "sd_bcNXeTciGHvpGsHn",
        "category": "Function",
        "x": 1570,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_fm6TtpRpIiyDeBY6",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "prepopulateDialogData",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "prepopulateDialogData",
        "category": "General",
        "x": 1305,
        "y": 260,
        "wires": [
            [
                "sd_ub5bhbzwbngwdNfd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_5JxqTFveX4y0jIsM",
        "type": "PageCallService",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_TO8KXUn3nydbh4fD",
            "type": "tab",
            "createdDate": "2022-09-22T08:11:04.885Z",
            "label": "travelRequestDialog",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_fm6TtpRpIiyDeBY6",
            "flowName": "prepopulateDialogData"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./travelRequestDialog",
        "startName": "prepopulateDialogData",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_5JxqTFveX4y0jIsM",
        "category": "General",
        "x": 1445,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_5F5jcmXlhCIMy6Bx",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.formObj = {\n   \"personalDetails\" : page.personalDetailsForm.value,\n    \"requestDetails\" : bh.input.form.requestDetails,\n    \"status\": page.dialogData.status,\n    \"managerApproval\" : {\n        \"approvedRequest\": bh.input.status,\n        \"comments\" : \"\"\n    },\n    \"owner\": page.personalDetailsForm.value.email,\n    \"dateCreated\": page.dialogData.dateCreated\n    };\n\n    console.log(page.formObj, 'formmmmm')\nbh.method = 'put';\nbh.endPoint = \"updateRequestStatus/\" + page.dialogData._id;",
        "functionName": "sd_5F5jcmXlhCIMy6Bx",
        "category": "Function",
        "x": 265,
        "y": 800,
        "wires": [
            [
                "sd_Kn38dORwtYP26I1e"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Kn38dORwtYP26I1e",
        "type": "PageCallService",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_hkAMxxfqyGUP7RIf",
            "type": "tab",
            "createdDate": "2022-06-28T19:32:02.953Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_alQ4JDGbxbp70Zlt",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "this.page",
                "value": "formObj"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            "this.page.formObj"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_Kn38dORwtYP26I1e",
        "category": "General",
        "x": 365,
        "y": 800,
        "wires": [
            [
                "sd_yBPeEJgoe1VPrAad"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_yBPeEJgoe1VPrAad",
        "type": "Script",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// let personalDetails = page.allPersonalDetails.find(el => bh.input.event.option.value == el.email)\n// if (personalDetails) {\n//     personalDetails['dateOfBirth'] = new Date(personalDetails['dateOfBirth'])\n//     page.personalDetailsForm.patchValue(personalDetails);\n// }\nconsole.log(bh.result,\"status\")",
        "functionName": "sd_yBPeEJgoe1VPrAad",
        "category": "Function",
        "x": 485,
        "y": 800,
        "wires": [
            [
                "sd_W6rsPbUeAuFcG4SJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_TTcZy1sxoIQntYcf",
        "type": "PageStart",
        "z": "sd_TO8KXUn3nydbh4fD",
        "viewType": "pages",
        "nodeType": "start",
        "name": "changeRequestStatus",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "personalDetailsForm",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "status",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "changeRequestStatus",
        "category": "General",
        "x": 145,
        "y": 800,
        "wires": [
            [
                "sd_5F5jcmXlhCIMy6Bx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    }
]
