designs/pages/travelRequestDialog.json
[
    {
        "id": "sd_cL2Dk3ymewl6P3KV",
        "type": "tab",
        "createdDate": "2022-09-24T19:30:59.140Z",
        "label": "travelRequestDialog",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_DkSmuciNKdrOH77u",
        "type": "OnInit",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [
            {
                "key": "outputVar",
                "defaultValue": {
                    "type": "any",
                    "value": null
                }
            }
        ],
        "functionName": "sd_DkSmuciNKdrOH77u",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 2060,
        "wires": [
            [
                "sd_dKR1CDYhHBtFp2Cu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_dKR1CDYhHBtFp2Cu",
        "type": "PageVariables",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "personalDetailsForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "travelForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "date",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "futureDate",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "userInfo",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "showInternaionalTravel",
                "typedIpValue": {
                    "type": "literal",
                    "value": "'false'"
                }
            },
            {
                "textIp": "showVISA",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "project",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "requestDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "requestDetailsForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "showHideElement",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "showHideButton",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "showID",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "showPan",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "get",
                "typedIpValue": {
                    "type": "str",
                    "value": ""
                }
            },
            {
                "textIp": "personalDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "fetchedRequestForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "formObj",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "key",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "other",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "otherToCity",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "newRequestButtons",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "managerButtons",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "dialogData",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "filterPersonalDetail",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "tempArr",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "travelRequestType",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "addLeg",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_dKR1CDYhHBtFp2Cu",
        "category": "Function",
        "x": 125,
        "y": 2060,
        "wires": [
            [
                "sd_p2jobIDNOPwMmWIv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_p2jobIDNOPwMmWIv",
        "type": "UseDependency",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FormGroup"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ValidationErrors",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ReactiveFormsModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "ReactiveFormsModule"
                },
                "injectable": false
            },
            {
                "textIp": "FormBuilder",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "Fb"
                },
                "injectable": true
            },
            {
                "textIp": "FormArray",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "FormArray"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_p2jobIDNOPwMmWIv",
        "category": "Function",
        "x": 205,
        "y": 2060,
        "wires": [
            [
                "sd_qiSMaI9iI9CnF6TZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_R9qC4c8FVuAuJn3k",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "personalDetails ",
        "script": "page.personalDetailsForm =new FormGroup({\n     // requester: new FormControl (''),\n      requestedFor: new FormControl (''),\n      requestType: new FormControl (''),\n      firstName: new FormControl('', [Validators.minLength(3),Validators.required]),\n       lastName: new FormControl('',[ Validators.minLength(3),Validators.required]),\n       dateOfBirth: new FormControl('', [Validators.required]),\n       gender: new FormControl('', [Validators.required]),\n       email: new FormControl('', [Validators.required, Validators.email]),\n       designation: new FormControl('', [Validators.required]),\n       idNumber: new FormControl(false, [Validators.required]),\n       panNumber: new FormControl(null, [Validators.minLength(10),Validators.pattern(\"[A-Z]{5}[0-9]{4}[A-Z]{1}\"),Validators.required]),\n       passportNumber: new FormControl('', [Validators.required]),\n       nationality:new FormControl('', [Validators.required]),\n       station: new FormControl('', [Validators.required]),\n       lineManager: new FormControl('', [Validators.required]),\n       lineManagerEmail: new FormControl('', [Validators.required]),\n})\n",
        "functionName": "personalDetails",
        "category": "Function",
        "x": 405,
        "y": 2060,
        "wires": [
            [
                "sd_iCXWSYCRWV3J74hy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_iCXWSYCRWV3J74hy",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "form controls creation",
        "script": "page.travelForm = new FormGroup({\n  requestDetails: page.Fb.array([])\n});",
        "functionName": "formControlsCreation",
        "category": "Function",
        "x": 525,
        "y": 2060,
        "wires": [
            [
                "sd_tqA5pIlDHIwV3aKk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_qiSMaI9iI9CnF6TZ",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "select Data",
        "script": "page.identification =[ {viewvalue : \"ID Number\"},{viewvalue : \"PAN Number\"},{viewvalue : \"Passoprt Number\"} ]\npage.options =  [{viewvalue : \"Yes\"},{viewvalue : \"No\"},{viewvalue : \"Unsure\"}];\npage.city =[{viewvalue: \"Cape Town\"},{viewvalue: \"Johnnesburg\"},{viewvalue: \"Bangalore\"},{viewvalue: \"New York\"},{viewvalue: \"Other\"}]\npage.travelType = [{viewvalue : \"International\"},{viewvalue : \"Domestic\"}];\npage.travelMode = [{viewvalue: \"Road\"},{viewvalue: \"Airway\"},{viewvalue: \"Railway\"}];\npage.nationality = [{viewvalue: \"South African\"},{viewvalue: \"Asian\"},{viewvalue: \"Eurpoean\"},{viewvalue: \"Indian\"},{viewvalue: \"Other\"}];\npage.gender =  [{viewvalue: \"Male\"},{viewvalue: \"Female\"},{viewvalue: \"Other\"}];\npage.purposeOfTravel = [{viewvalue: \"Meeting\"},{viewvalue: \"Shootout\"},{viewvalue: \"Sales\"}];\npage.accomodationPreferance =[{viewvalue: \"hotel\"},{viewvalue: \"B&B\"}]",
        "functionName": "selectData",
        "category": "Function",
        "x": 305,
        "y": 2060,
        "wires": [
            [
                "sd_R9qC4c8FVuAuJn3k"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_uWHq1Dp7Csd3aBiF",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "date",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "currentDate",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "date",
        "category": "General",
        "x": 445,
        "y": 2160,
        "wires": [
            [
                "sd_ppAmTCAYbLaLSTaX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_YiPpV3vwZ0LMah9G",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "getPersonalDetails",
        "script": "page.date = new Date();\npage.futureDate = page.travelForm?.controls?.requestDetails?.controls[0]?.controls?.accommodationDetails?.controls?.checkOutDate\nbh.endPoint = 'genericGet/getPersonalDetails?email=' +page.currentUserDetails.email;\nbh.method =\"get\";",
        "functionName": "getPersonalDetails",
        "category": "Function",
        "x": 765,
        "y": 2060,
        "wires": [
            [
                "sd_ub1Q1tUrQeMF1rdJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_ppAmTCAYbLaLSTaX",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.date = new Date();\npage.futureDate = new Date(bh.input.currentDate - 1);\n",
        "functionName": "sd_ppAmTCAYbLaLSTaX",
        "category": "Function",
        "x": 605,
        "y": 2160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_e7DOoTSFnpZdf0rD",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "addNewRequestForm",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addNewRequestForm",
        "category": "General",
        "x": 685,
        "y": 2160,
        "wires": [
            [
                "sd_evDNWZsHJfXOCRaM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_evDNWZsHJfXOCRaM",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.travelForm.get('requestDetails').push(new FormGroup({\n  travelDetails: page.Fb.group({\n    travelMode: ['', [Validators.required]],\n    travelType: ['', [Validators.required]],\n    travelPurpose: ['', [Validators.required]],\n    projectID: ['', [Validators.required]],\n    fromCity: ['', [Validators.required]],\n    toCity: ['', [Validators.required]],\n    fromDate: ['', [Validators.required]],\n    toDate: ['', [Validators.required]],\n    tripType: ['', [Validators.required]],\n    preferredTime: ['', [Validators.required]],\n    travelerComments: [''],\n    passportDocument: [''],\n    visaRequired: ['', []],\n    visa:[''],\n    covidCertificate: [''],\n   passport: [''],\n    needvehicle: ['', [Validators.required]],\n    needAccommodation: ['', [Validators.required]]\n  }),\n  accommodationDetails: page.Fb.group({\n    accommodationPreference: [''],\n    city: [''],\n    checkInDate: [''],\n    checkOutDate: [''],\n    checkInTime: [''],\n    checkOutTime: [''],\n    employeeComments: ['']\n\n  })\n}));\n//page.travelForm.requestDetails.patchValue();\n\n\n\n",
        "functionName": "sd_evDNWZsHJfXOCRaM",
        "category": "Function",
        "x": 825,
        "y": 2160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_u1ttUNEAUx5QFPmN",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "dateChange",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "date",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "dateChange",
        "category": "General",
        "x": 905,
        "y": 2160,
        "wires": [
            [
                "sd_NfT0QW285F3ULrlr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_NfT0QW285F3ULrlr",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.futureDate = new Date(bh.input.date.value);\n",
        "functionName": "sd_NfT0QW285F3ULrlr",
        "category": "Function",
        "x": 1005,
        "y": 2160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_UCYiFWFzQseD0jRM",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "removeNewRequestFormLeg",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "i",
                "defaultValue": {
                    "type": "num",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "removeNewRequestFormLeg",
        "category": "General",
        "x": 245,
        "y": 2160,
        "wires": [
            [
                "sd_SQ4jVKq0a9z9QQ05"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_SQ4jVKq0a9z9QQ05",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.travelForm.get('requestDetails').removeAt(bh.input.i);",
        "functionName": "sd_SQ4jVKq0a9z9QQ05",
        "category": "Function",
        "x": 365,
        "y": 2160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_R5NsX4bq7Abdda13",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Select changes Function",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "selectChangesFunction",
        "category": "General",
        "x": 1125,
        "y": 2160,
        "wires": [
            [
                "sd_xjdqwERfXI7cnMsA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_xjdqwERfXI7cnMsA",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(bh.input.event.value ==\"International\"){\npage.showVISA = true;  \n}\nelse if(bh.input.event.value ==\"Domestic\") {\n    page.showVISA = false;  \n}else if(bh.input.event.value ==\"one-way\"){\n    page.addLeg = true;\n} else if(bh.input.event.value ==\"Return\"){\n     page.addLeg = false;\n}else if(bh.input.event.value ==\"On Behalf\"){\n    console.log(\"on behalf\")\n    page.requestedFor = true;\n} else if(bh.input.event.value ==\"Self\"){\n     page.requestedFor = false;\n     \n     bh.endPoint = 'genericGet/getPersonalDetails?email=' + page.requesterDetails.email;\n    bh.method =\"get\";\n }",
        "functionName": "sd_xjdqwERfXI7cnMsA",
        "category": "Function",
        "x": 1245,
        "y": 2160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_vHBUwGAsuiNp1qT9",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit_clear_draft",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "personalDetailsForm",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit_clear_draft",
        "category": "General",
        "x": 45,
        "y": 2320,
        "wires": [
            [
                "sd_ZwfIuQKrmasydlhZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_ZwfIuQKrmasydlhZ",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "//combine the 2 forms\nconsole.log(page.travelRequestType, 'retype');\npage.formObj = {\n    \"personalDetails\": bh.input.personalDetailsForm,\n    \"requestDetails\": bh.input.form.requestDetails,\n    \"status\": null,\n    \"managerApproval\": {\n        \"approvedRequest\": null,\n        \"comments\": \"\"\n    },\n    \"owner\": bh.input.personalDetailsForm.email,\n    \"dateCreated\": new Date(),\n    \"travelRequestType\": page.travelRequestType\n};\nconsole.log(page.formObj, 'page.formObj');\n    let tempDetails = []\npage.formObj.requestDetails.forEach(detail => {\n    detail['travelDetails']['passportDocument'] = page.passportBase64;\n    detail['travelDetails']['covidCertificate'] = page.covidBase64;\n    tempDetails.push(detail);\n})\npage.formObj.requestDetails = tempDetails;\nconsole.log(page.formObj, 'form');\n\nbh.endPoint = (bh.input.event == \"Draft\") ? 'addTravelRequest?type=draft' : 'addTravelRequest';\nbh.method = \"post\";\npage.currentUserTravelDetails = page.formObj\n",
        "functionName": "sd_ZwfIuQKrmasydlhZ",
        "category": "Function",
        "x": 165,
        "y": 2320,
        "wires": [
            [
                "sd_h2n3H0SwiraKo0e4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_h2n3H0SwiraKo0e4",
        "type": "PageSwitch",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "event",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.event",
        "rules": [
            {
                "t": "eq",
                "v": "Submit",
                "vt": "str",
                "gv": "\"Submit\""
            },
            {
                "t": "eq",
                "v": "Draft",
                "vt": "str",
                "gv": "\"Draft\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_h2n3H0SwiraKo0e4",
        "category": "Function",
        "x": 300,
        "y": 2320,
        "wires": [
            [
                "sd_SEqDdT4LGpkFP90j"
            ],
            [
                "sd_oxrXVLpBEz5UnCHc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_SEqDdT4LGpkFP90j",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Submit\")\nconsole.log(\"end\",bh.endPoint)",
        "functionName": "sd_SEqDdT4LGpkFP90j",
        "category": "Function",
        "x": 445,
        "y": 2260,
        "wires": [
            [
                "sd_tXxtjaupvgy5tu7R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_oxrXVLpBEz5UnCHc",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"draft\")\nconsole.log(\"end\",bh.endPoint)",
        "functionName": "sd_oxrXVLpBEz5UnCHc",
        "category": "Function",
        "x": 425,
        "y": 2420,
        "wires": [
            [
                "sd_pVcK3Rg7eLNIGS7p"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_nBaRWTRf8M3mIXDh",
        "type": "PageCallService",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "this.page",
                "value": "formObj"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "response",
                "mapVarName": "result",
                "localVar": "bh.response"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            "this.page.formObj"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_nBaRWTRf8M3mIXDh",
        "category": "General",
        "x": 625,
        "y": 2320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_tXxtjaupvgy5tu7R",
        "type": "SnackBar",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Form is submitted"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_tXxtjaupvgy5tu7R",
        "category": "General",
        "x": 525,
        "y": 2260,
        "wires": [
            [
                "sd_nBaRWTRf8M3mIXDh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_pVcK3Rg7eLNIGS7p",
        "type": "SnackBar",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Form is saved as draft"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_pVcK3Rg7eLNIGS7p",
        "category": "General",
        "x": 545,
        "y": 2420,
        "wires": [
            [
                "sd_nBaRWTRf8M3mIXDh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_c0ARQOJr3ERIQNoo",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Reset Form",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "resetForm",
        "category": "General",
        "x": 725,
        "y": 2320,
        "wires": [
            [
                "sd_0RUidJjykP7OTPSg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_0RUidJjykP7OTPSg",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": " bh.input.form.reset();",
        "functionName": "sd_0RUidJjykP7OTPSg",
        "category": "Function",
        "x": 905,
        "y": 2320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_ub1Q1tUrQeMF1rdJ",
        "type": "PageCallService",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_cL2Dk3ymewl6P3KV",
            "type": "tab",
            "createdDate": "2022-09-24T19:30:59.140Z",
            "label": "travelRequestDialog",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_e7DOoTSFnpZdf0rD",
            "flowName": "addNewRequestForm"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./travelRequestDialog",
        "startName": "addNewRequestForm",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_ub1Q1tUrQeMF1rdJ",
        "category": "General",
        "x": 905,
        "y": 2060,
        "wires": [
            [
                "sd_YsC9OHJcqI0z6xgD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_YsC9OHJcqI0z6xgD",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "fetchDetails",
        "script": "bh.key = 'currentUserDetails';\n//page.personalDetailsForm.patchValue(page.personalDetails);",
        "functionName": "fetchDetails",
        "category": "Function",
        "x": 1005,
        "y": 2060,
        "wires": [
            [
                "sd_AbJDxIpvNWing52Y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_AbJDxIpvNWing52Y",
        "type": "Storage",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "bh",
            "value": "key"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "requesterDetails"
        },
        "functionName": "sd_AbJDxIpvNWing52Y",
        "category": "Storage",
        "x": 1105,
        "y": 2060,
        "wires": [
            [
                "sd_mJTAUBsUUXyI6Bll"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_mJTAUBsUUXyI6Bll",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.requester = `${page.requesterDetails.firstName} ${page.requesterDetails.lastName}`\n//page.personalDetailsForm?.value?.requester?.patchValue(page.requester)",
        "functionName": "sd_mJTAUBsUUXyI6Bll",
        "category": "Function",
        "x": 1205,
        "y": 2060,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_tqA5pIlDHIwV3aKk",
        "type": "Storage",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "currentUserDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "currentUserDetails"
        },
        "functionName": "sd_tqA5pIlDHIwV3aKk",
        "category": "Storage",
        "x": 645,
        "y": 2060,
        "wires": [
            [
                "sd_YiPpV3vwZ0LMah9G"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_pd6up3pVONT8TWxP",
        "type": "PageCallService",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "personalDetails",
                "mapVarName": "result",
                "localVar": "this.page.personalDetails"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_pd6up3pVONT8TWxP",
        "category": "General",
        "x": 1485,
        "y": 2040,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_FpSVUfAFGPuCgGeT",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "requstedForHideandShow",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "element",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "requstedForHideandShow",
        "category": "General",
        "x": 1040,
        "y": 2300,
        "wires": [
            [
                "sd_cUd8vpTDrDwNedMh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_cUd8vpTDrDwNedMh",
        "type": "PageSwitch",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "element.value",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.element.value",
        "rules": [
            {
                "t": "eq",
                "v": "Self",
                "vt": "str",
                "gv": "\"Self\""
            },
            {
                "t": "eq",
                "v": "On Behalf",
                "vt": "str",
                "gv": "\"On Behalf\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_cUd8vpTDrDwNedMh",
        "category": "Function",
        "x": 1145,
        "y": 2300,
        "wires": [
            [
                "sd_Pf2zuzjAD1ISXrNp"
            ],
            [
                "sd_KmjZixvZ4izwdupr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Pf2zuzjAD1ISXrNp",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"self\")\npage.requestedFor = false;\n\nbh.endPoint = 'genericGet/getPersonalDetails?email=' + page.requesterDetails.email;\nbh.method =\"get\";",
        "functionName": "sd_Pf2zuzjAD1ISXrNp",
        "category": "Function",
        "x": 1265,
        "y": 2240,
        "wires": [
            [
                "sd_Wqi1RIaHcnKWF9IZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_KmjZixvZ4izwdupr",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"on behalf\")\npage.requestedFor = true;\nbh.emitValue=bh.input.element?.target?.value;\nbh.endPoint = 'genericGet/getPersonalDetails';\nbh.method =\"get\";",
        "functionName": "sd_KmjZixvZ4izwdupr",
        "category": "Function",
        "x": 1265,
        "y": 2360,
        "wires": [
            [
                "sd_k8XsTz0zseEBFDU8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Wqi1RIaHcnKWF9IZ",
        "type": "PageCallService",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh.local",
                "value": "selfDetails",
                "mapVarName": "result",
                "localVar": "bh.local.selfDetails"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_Wqi1RIaHcnKWF9IZ",
        "category": "General",
        "x": 1365,
        "y": 2240,
        "wires": [
            [
                "sd_PAMTEUw5zOJq0gf3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_PAMTEUw5zOJq0gf3",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.selfDetails['dateOfBirth'] = new Date(bh.local.selfDetails['dateOfBirth'])\npage.personalDetailsForm.patchValue(bh.local.selfDetails);",
        "functionName": "sd_PAMTEUw5zOJq0gf3",
        "category": "Function",
        "x": 1505,
        "y": 2240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_k8XsTz0zseEBFDU8",
        "type": "PageCallService",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RlbkgAJauuYtTx07",
            "type": "tab",
            "createdDate": "2022-09-29T08:41:02.628Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_nCumUxwkMp8Q3Kjk",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "allPersonalDetails",
                "mapVarName": "result",
                "localVar": "this.page.allPersonalDetails"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_k8XsTz0zseEBFDU8",
        "category": "General",
        "x": 1365,
        "y": 2360,
        "wires": [
            [
                "sd_06sUGUfBsL0CeLLy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_06sUGUfBsL0CeLLy",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.filterPersonalDetail = page.allPersonalDetails\nlet tempArr=page.filterPersonalDetail.filter(obj => obj.email?.toLowerCase().includes(bh?.emitValue?.toLowerCase()))\npage.allPersonalDetails=tempArr;",
        "functionName": "sd_06sUGUfBsL0CeLLy",
        "category": "Function",
        "x": 1465,
        "y": 2360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_1UTdGB9sCgtubUsj",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onSelectionChange",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onSelectionChange",
        "category": "General",
        "x": 1425,
        "y": 2140,
        "wires": [
            [
                "sd_fzJp34GIv6oUdopb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_fzJp34GIv6oUdopb",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let personalDetails = page.allPersonalDetails.find(el => bh.input.event.option.value == el.email)\nif (personalDetails) {\n    personalDetails['dateOfBirth'] = new Date(personalDetails['dateOfBirth'])\n    page.personalDetailsForm.patchValue(personalDetails);\n}",
        "functionName": "sd_fzJp34GIv6oUdopb",
        "category": "Function",
        "x": 1565,
        "y": 2140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_hs9LplnwwLonxV6Z",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "requstedForFilter",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "element",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "requstedForFilter",
        "category": "General",
        "x": 1145,
        "y": 2420,
        "wires": [
            [
                "sd_KmjZixvZ4izwdupr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_29njAULcoIfjcyW6",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onFileChangeCovidCertificate",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onFileChangeCovidCertificate",
        "category": "General",
        "x": 65,
        "y": 2560,
        "wires": [
            [
                "sd_NaxqEzPfFReFUSoO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_NaxqEzPfFReFUSoO",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (bh.input.event.target.files.length > 0) {\n      const file = bh.input.event.target.files[0];\n   var reader = new FileReader();\n   reader.readAsDataURL(file);\n   reader.onload = function () {\n     page.covidBase64=reader.result;\n      console.log(page.covidBase64)\n   };\n   reader.onerror = function (error) {\n     console.log('Error: ', error);\n   };\n}",
        "functionName": "sd_NaxqEzPfFReFUSoO",
        "category": "Function",
        "x": 185,
        "y": 2560,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_EoiSx9rxclgOS4Rf",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onFileChangePassport",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onFileChangePassport",
        "category": "General",
        "x": 65,
        "y": 2440,
        "wires": [
            [
                "sd_3xt3Vv5VCln8qBf9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_3xt3Vv5VCln8qBf9",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (bh.input.event.target.files.length > 0) {\n      const file = bh.input.event.target.files[0];\n   var reader = new FileReader();\n   reader.readAsDataURL(file);\n   reader.onload = function () {\n     page.passportBase64 = reader.result;\n    \n   };\n   reader.onerror = function (error) {\n     console.log('Error: ', error);\n   };\n}",
        "functionName": "sd_3xt3Vv5VCln8qBf9",
        "category": "Function",
        "x": 185,
        "y": 2440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_idoOrI20tJYwW2dI",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onFileChangeVISA",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onFileChangeVISA",
        "category": "General",
        "x": 265,
        "y": 2500,
        "wires": [
            [
                "sd_QuloaPWjRMdhjCSN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_QuloaPWjRMdhjCSN",
        "type": "Script",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (bh.input.event.target.files.length > 0) {\n      const file = bh.input.event.target.files[0];\n   var reader = new FileReader();\n   reader.readAsDataURL(file);\n   reader.onload = function () {\n     page.visa64=reader.result;\n      \n   };\n   reader.onerror = function (error) {\n     console.log('Error: ', error);\n   };\n}",
        "functionName": "sd_QuloaPWjRMdhjCSN",
        "category": "Function",
        "x": 385,
        "y": 2500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_1kbwyDGL1GaJuGCz",
        "type": "PageStart",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "pages",
        "nodeType": "start",
        "name": "closeDialog",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "closeDialog",
        "category": "General",
        "x": 320,
        "y": 2600,
        "wires": [
            [
                "sd_xbmjI6QOi3Utcox6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "travelRequestDialogComponent"
    },
    {
        "id": "sd_xbmjI6QOi3Utcox6",
        "type": "CloseDialog",
        "z": "sd_cL2Dk3ymewl6P3KV",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "bh.local.res",
        "functionName": "sd_xbmjI6QOi3Utcox6",
        "category": "Dialog",
        "x": 420,
        "y": 2600,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh.local",
                "value": "res",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
