designs/pages/view_travel_requests.json
[
    {
        "id": "sd_M6CpklMyTxKCR3le",
        "type": "tab",
        "createdDate": "2022-09-24T21:12:19.815Z",
        "label": "view_travel_requests",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "view_travel_requestsComponent"
    },
    {
        "id": "sd_WC18nMds7NiM80tn",
        "type": "UseDependency",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Sort",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatSort",
                "typedIpValue": {
                    "type": "this.page",
                    "value": " sort"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/sort",
        "serviceDesignerType": "pages",
        "functionName": "sort",
        "category": "Function",
        "x": 345,
        "y": 80,
        "wires": [
            [
                "sd_za4qWrTsozI1uY4j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "view_travel_requestsComponent"
    },
    {
        "id": "sd_UtVDkldq8ptmZb4v",
        "type": "OnInit",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "functionName": "sd_UtVDkldq8ptmZb4v",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 80,
        "wires": [
            [
                "sd_BvyMmkrB19aRiQCP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_travel_requestsComponent"
    },
    {
        "id": "sd_w30sShqrsh9rOLaq",
        "type": "PageCallService",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_M6CpklMyTxKCR3le",
            "type": "tab",
            "createdDate": "2022-09-24T21:12:19.815Z",
            "label": "view_travel_requests",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_lTeQIRc0VRJIQlZW",
            "flowName": "getTravelRequests"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./view_travel_requests",
        "startName": "getTravelRequests",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_w30sShqrsh9rOLaq",
        "category": "General",
        "x": 745,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "view_travel_requestsComponent"
    },
    {
        "id": "sd_KBJALXBQpNJIiAXB",
        "type": "Script",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "//bh.method = \"get\";\n//bh.endPoint = \"travelRequests/getTravelRequests?owner=\"+page.currentUserDetails.email;\npage.select =[{viewvalue:\"My requests\"},{viewvalue:\"Traveler requests\"}]",
        "functionName": "sd_KBJALXBQpNJIiAXB",
        "category": "Function",
        "x": 564,
        "y": 80,
        "wires": [
            [
                "sd_w30sShqrsh9rOLaq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true,
        "serviceName": "view_travel_requestsComponent"
    },
    {
        "id": "sd_lTeQIRc0VRJIQlZW",
        "type": "PageStart",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "pages",
        "nodeType": "start",
        "name": "get travel requests",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getTravelRequests",
        "category": "General",
        "x": 25,
        "y": 200,
        "wires": [
            [
                "sd_UmWSRj3Qpmhs8N1h"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_travel_requestsComponent"
    },
    {
        "id": "sd_MEQPW5Pj6NkRjFPt",
        "type": "PageStart",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goTo",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goTo",
        "category": "General",
        "x": 80,
        "y": 560,
        "wires": [
            [
                "sd_VEtAIBH1sZxwQedT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_travel_requestsComponent"
    },
    {
        "id": "sd_VEtAIBH1sZxwQedT",
        "type": "Navigation",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/new-request",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_VEtAIBH1sZxwQedT",
        "category": "Navigation",
        "x": 220,
        "y": 560,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_kOE5yULIR0S86tBG",
        "type": "Script",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.method = \"get\";\nbh.endPoint = \"travelRequests/getTravelRequests?owner=\" + page.currentUserDetails.email;",
        "functionName": "sd_kOE5yULIR0S86tBG",
        "category": "Function",
        "x": 325,
        "y": 160,
        "wires": [
            [
                "sd_3YsDPxJfCGJigFe0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_3YsDPxJfCGJigFe0",
        "type": "PageCallService",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_hkAMxxfqyGUP7RIf",
            "type": "tab",
            "createdDate": "2022-06-28T19:32:02.953Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_alQ4JDGbxbp70Zlt",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "receivedTableData",
                "mapVarName": "result",
                "localVar": "this.page.receivedTableData"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_3YsDPxJfCGJigFe0",
        "category": "General",
        "x": 425,
        "y": 160,
        "wires": [
            [
                "sd_hJFj3EL4AqqqGPEv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_UmWSRj3Qpmhs8N1h",
        "type": "Storage",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "currentUserDetails"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "currentUserDetails"
        },
        "functionName": "sd_UmWSRj3Qpmhs8N1h",
        "category": "Storage",
        "x": 225,
        "y": 160,
        "wires": [
            [
                "sd_kOE5yULIR0S86tBG",
                "sd_Q1zDkTK9WCcgmXLa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_pJbdSX4r15agUYfi",
        "type": "Script",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "common",
        "nodeType": "flow",
        "name": "log table",
        "script": "console.log(page.receivedTableData)",
        "functionName": "logTable",
        "category": "Function",
        "x": 645,
        "y": 160,
        "wires": [
            [
                "sd_3oO8n1cMQcZahZYR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_3oO8n1cMQcZahZYR",
        "type": "ViewPicker",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "common",
        "nodeType": "flow",
        "name": "table",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatSort"
                },
                "defaultValue": "",
                "isViewChildren": false
            },
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "table",
        "category": "Function",
        "x": 745,
        "y": 160,
        "wires": [
            [
                "sd_4dsz3WXte8UGSqzl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_4dsz3WXte8UGSqzl",
        "type": "Script",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "common",
        "nodeType": "flow",
        "name": "setTableTokens",
        "script": "let tableData = [];\nlet userGroups = ['Executive', 'Manager', 'HR', 'Finance'];\nlet tableSetup = {\n    \"traveler\": {\n        \"tableHeaders\": ['Owner', 'Date Created', 'Trip Type', 'Travel Mode', 'From City', 'To City', 'Status', 'Action'],\n        \"tableCells\": ['owner', 'dateCreated', `tripType`, 'travelMode', 'fromCity', 'toCity', 'status', 'action']\n    }\n};\nbh.role = (!userGroups.includes(page.currentUserDetails.designation)) ? 'traveler' : 'other',\n    page.tableHeaders = tableSetup[bh.role]['tableHeaders'];\npage.tableCells = tableSetup[bh.role]['tableCells'];\npage.receivedTableData['data'].forEach(el => {\n    let temp = {};\n    temp['_id'] = el['_id'];\n    temp['owner'] = el['owner'];\n    temp['status'] = el['status'];\n    temp['dateCreated'] = el['dateCreated'];\n    temp['tripType'] = el['requestDetails'][0]['travelDetails']['tripType'];\n    temp['travelMode'] = el['requestDetails'][0]['travelDetails']['travelMode'];\n    temp['fromCity'] = el['requestDetails'][0]['travelDetails']['fromCity'];\n    temp['toCity'] = el['requestDetails'][0]['travelDetails']['toCity'];\n    tableData.push(temp);\n})\nconsole.log(tableData)\npage.tableData = new page.tableDataSource(tableData);\npage.tableData.paginator = bh.pageViews.MatPaginator;\npage.tableData.sort = bh.pageViews.MatSort;\n\n// let tableData = [];\n// let userGroups = ['Executive', 'Manager', 'HR', 'Finance'];\n// let tableSetup = {\n//     \"traveler\": {\n//         \"tableHeaders\": ['Date Created', 'Trip Type', 'Travel Mode', 'From City', 'To City', 'Status', 'Action'],\n//         \"tableCells\": ['dateCreated', `tripType`, 'travelMode', 'fromCity', 'toCity', 'action']\n//     }\n// };\n// bh.role = (!userGroups.includes(page.currentUserDetails.designation)) ? 'traveler' : 'other',\n//     page.tableHeaders = tableSetup[bh.role]['tableHeaders'];\n// page.tableCells = tableSetup[bh.role]['tableCells'];\n// page.receivedTableData['data'].forEach(el => {\n//     let temp = {};\n//     temp['_id'] = el['_id'];\n//     temp['dateCreated'] = el['dateCreated'];\n//     temp['tripType'] = el['requestDetails'][0]['travelDetails']['tripType'];\n//     temp['travelMode'] = el['requestDetails'][0]['travelDetails']['travelMode'];\n//     temp['fromCity'] = el['requestDetails'][0]['travelDetails']['fromCity'];\n//     temp['toCity'] = el['requestDetails'][0]['travelDetails']['toCity'];\n//     tableData.push(temp);\n// })\n\n// page.tableData = new page.tableDataSource(tableData);\n// page.tableData.paginator = bh.pageViews.MatPaginator;\n// page.tableData.sort = bh.pageViews.MatSort;",
        "functionName": "setTableTokens",
        "category": "Function",
        "x": 825,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_BvyMmkrB19aRiQCP",
        "type": "UseDependency",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "TableDataSource",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatTableDataSource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "tableDataSource"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/table",
        "serviceDesignerType": "pages",
        "functionName": "tableDataSource",
        "category": "Function",
        "x": 165,
        "y": 80,
        "wires": [
            [
                "sd_0qmTmCOLyszky4k9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_0qmTmCOLyszky4k9",
        "type": "UseDependency",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Paginator",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatPaginator",
                "typedIpValue": {
                    "type": "this.page",
                    "value": " paginator"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/paginator",
        "serviceDesignerType": "pages",
        "functionName": "paginator",
        "category": "Function",
        "x": 265,
        "y": 80,
        "wires": [
            [
                "sd_WC18nMds7NiM80tn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_za4qWrTsozI1uY4j",
        "type": "PageVariables",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "currentUserDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            },
            {
                "textIp": "dashboardCards",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "tableHeaders",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "tableCells",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "receivedTableData",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "email",
                "typedIpValue": {
                    "type": "str",
                    "value": ""
                }
            },
            {
                "textIp": "select",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "counts",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            }
        ],
        "functionName": "sd_E9QbOlnVduPNV5MO_1",
        "category": "Function",
        "x": 445,
        "y": 80,
        "wires": [
            [
                "sd_KBJALXBQpNJIiAXB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_yveiwMxmMNjwO0sS",
        "type": "PageStart",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "pages",
        "nodeType": "start",
        "name": "open view request",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "selectedRowID",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "openViewRequest",
        "category": "General",
        "x": 65,
        "y": 400,
        "wires": [
            [
                "sd_7kJeh9SbSb28xxIX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_travel_requestsComponent"
    },
    {
        "id": "sd_a7vUHYv5ZMuKzSRM",
        "type": "OpenDialog",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_TO8KXUn3nydbh4fD",
            "label": "travelRequestDialog"
        },
        "relativePath": "./travelRequestDialog",
        "data": "bh.data",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": true,
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "\"85vh\"",
        "minHeight": "\"85vh\"",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "\"85vw\"",
        "panelClass": "this.page.scroll",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "bh.x",
        "functionName": "sd_a7vUHYv5ZMuKzSRM",
        "category": "Dialog",
        "x": 345,
        "y": 400,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh",
                "value": "data",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "bool",
                "value": "true",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "str",
                "value": "85vh",
                "constant": false
            },
            "minHeight": {
                "type": "str",
                "value": "85vh",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "str",
                "value": "85vw",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "scroll",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "x",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_7kJeh9SbSb28xxIX",
        "type": "Script",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.data = page.receivedTableData['data'].find(obj => bh.input.selectedRowID == obj._id);\n\n",
        "functionName": "sd_7kJeh9SbSb28xxIX",
        "category": "Function",
        "x": 245,
        "y": 400,
        "wires": [
            [
                "sd_a7vUHYv5ZMuKzSRM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_u8In8P0t33HIyxjC",
        "type": "PageStart",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "pages",
        "nodeType": "start",
        "name": "travel requests",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "travelRequests",
        "category": "General",
        "x": 105,
        "y": 260,
        "wires": [
            [
                "sd_zZXxqVNEPwMwN4pj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_travel_requestsComponent"
    },
    {
        "id": "sd_zZXxqVNEPwMwN4pj",
        "type": "PageSwitch",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "event.value",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.event.value",
        "rules": [
            {
                "t": "eq",
                "v": "My requests",
                "vt": "str",
                "gv": "\"My requests\""
            },
            {
                "t": "eq",
                "v": "Traveler requests",
                "vt": "str",
                "gv": "\"Traveler requests\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_zZXxqVNEPwMwN4pj",
        "category": "Function",
        "x": 205,
        "y": 260,
        "wires": [
            [
                "sd_kOE5yULIR0S86tBG"
            ],
            [
                "sd_Q1zDkTK9WCcgmXLa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_Q1zDkTK9WCcgmXLa",
        "type": "Script",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.method = \"get\";\nif (page.currentUserDetails.designation.includes('Travel')) {\n    bh.endPoint = \"travelRequests/getTravelRequests\";\n} else if(page.currentUserDetails.designation.includes('Manager')){\n    bh.endPoint = \"travelRequests/getTravelRequests?personalDetails.lineManagerEmail=\" + page.currentUserDetails.email;\n}",
        "functionName": "sd_Q1zDkTK9WCcgmXLa",
        "category": "Function",
        "x": 325,
        "y": 300,
        "wires": [
            [
                "sd_ChB9GlrqkZLSHtmX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_nlaOwHKAFsHLEWrL",
        "type": "PageStart",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "pages",
        "nodeType": "start",
        "name": "closeProfile",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "closeProfile",
        "category": "General",
        "x": 45,
        "y": 480,
        "wires": [
            [
                "sd_UK05b4pwjxXl94c1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_travel_requestsComponent"
    },
    {
        "id": "sd_UK05b4pwjxXl94c1",
        "type": "CloseDialog",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.profileDialog",
        "functionName": "sd_UK05b4pwjxXl94c1",
        "category": "Dialog",
        "x": 135.171875,
        "y": 480.03125,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "profileDialog",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_gMzUiK9mR0JrW2Bx",
        "type": "PageCallService",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_hkAMxxfqyGUP7RIf",
            "type": "tab",
            "createdDate": "2022-06-28T19:32:02.953Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_alQ4JDGbxbp70Zlt",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "receivedTableData",
                "mapVarName": "result",
                "localVar": "this.page.receivedTableData"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_gMzUiK9mR0JrW2Bx",
        "category": "General",
        "x": 505,
        "y": 300,
        "wires": [
            [
                "sd_pJbdSX4r15agUYfi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_hJFj3EL4AqqqGPEv",
        "type": "Script",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "//bh.method = \"get\";\n//bh.endPoint = \"travelRequests/getTravelRequests?owner=\" + page.currentUserDetails.email;\nbh.receivedTableData = page.receivedTableData['data'];\n\npage.counts = {\n    pendingCounts: [],\n    approvedCounts: [],\n    rejectedCounts: [],\n    totalCounts: bh.receivedTableData.length\n\n}\n\nbh.receivedTableData.forEach(item => {\n    if (item.status == 'Approved') {\n        page.counts.approvedCounts.push(item);\n    } else if (item.status == 'Rejected') {\n        page.counts.rejectedCounts.push(item);\n    } else {\n        page.counts.pendingCounts.push(item);\n    }\n})\n\npage.dashboardCards =[\n    {amount: page?.counts?.totalCounts, topText: 'Total', icon : 'description', cssClass: 'blueBg'},\n    {amount: page?.counts?.pendingCounts?.length, topText: 'Pending', icon : 'hourglass_full', cssClass: 'orangeBg'},\n    {amount: page?.counts?.approvedCounts?.length, topText: 'Approved', icon : 'thumb_up', cssClass: 'greenBg'},\n    {amount: page?.counts?.rejectedCounts?.length, topText: 'Rejected', icon : 'thumb_down', cssClass: 'redBg'},\n];\n",
        "functionName": "sd_hJFj3EL4AqqqGPEv",
        "category": "Function",
        "x": 505,
        "y": 160,
        "wires": [
            [
                "sd_pJbdSX4r15agUYfi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_wPVna9aXGRojUWjr",
        "type": "PageCallService",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_hkAMxxfqyGUP7RIf",
            "type": "tab",
            "createdDate": "2022-06-28T19:32:02.953Z",
            "label": "callServerApis",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_alQ4JDGbxbp70Zlt",
            "flowName": "dynamic"
        },
        "inputVariables": [
            {
                "key": "endPoint",
                "map": true,
                "valueType": "bh",
                "value": "endPoint"
            },
            {
                "key": "method",
                "map": true,
                "valueType": "bh",
                "value": "method"
            },
            {
                "key": "body",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "this.page",
                "value": "receivedTableData",
                "mapVarName": "result",
                "localVar": "this.page.receivedTableData"
            }
        ],
        "serviceImportPath": "app/sd-services/callServerApis",
        "startName": "dynamic",
        "inputParams": [
            "bh.endPoint",
            "bh.method",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_wPVna9aXGRojUWjr",
        "category": "General",
        "x": 665,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_ChB9GlrqkZLSHtmX",
        "type": "PageSwitch",
        "z": "sd_M6CpklMyTxKCR3le",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "endPoint",
        "propertyType": "bh",
        "propertyGv": "bh.endPoint",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_ChB9GlrqkZLSHtmX",
        "category": "Function",
        "x": 405,
        "y": 300,
        "wires": [
            [
                "sd_gMzUiK9mR0JrW2Bx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
